﻿
@model PaymezonApp.Models.IPViewModels

<link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/css/theme-default.css")" />

<div class="modal fade" id="iconPreview" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("CreateIP", "IP", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add IP Addrress</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-12 control-label">1st IP Address </label>
                                            <div class="col-md-8 col-xs-12">
                                                <div class="input-group">

                                                    @Html.TextBoxFor(model => model.Ip_One, new { @class = "form-control" })  @*<input type="text" class="form-control" />*@
                                                </div>
                                                <span class="help-block">Please Enter 1st IP</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-12 control-label">2nd IP Address</label>
                                            <div class="col-md-8 col-xs-12">
                                                <div class="input-group">

                                                    @Html.TextBoxFor(model => model.Ip_Two, new { @class = "form-control" })  @*<input type="text" class="form-control" />*@
                                                </div>
                                                <span class="help-block">Please Enter 2nd IP Address</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-12 control-label">3rd IP Address</label>
                                            <div class="col-md-8 col-xs-12">
                                                <div class="input-group">
                                                    @Html.TextBoxFor(model => model.Ip_Three, new { @class = "form-control" })  @*<input type="text" class="form-control" />*@
                                                </div>
                                                <span class="help-block">Please Enter 3rd IP Address</span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-12 control-label">4th IP Address </label>
                                            <div class="col-md-8 col-xs-12">
                                                <div class="input-group">

                                                    @Html.TextBoxFor(model => model.Ip_Four, new { @class = "form-control" })  @*<input type="text" class="form-control" />*@
                                                </div>
                                                <span class="help-block">Please Enter 4th IP</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 col-xs-12 control-label">5th IP Address</label>
                                            <div class="col-md-8 col-xs-12">
                                                <div class="input-group">

                                                    @Html.TextBoxFor(model => model.Ip_Five, new { @class = "form-control" })  @*<input type="text" class="form-control" />*@
                                                </div>
                                                <span class="help-block">Please Enter 5th IP Address</span>
                                            </div>
                                        </div>


                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <div class="col-md-10">
                        <button class="btn btn-info mb-control" id="btnsave">Add</button>
                    </div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#OpenDilog">Close</button>
                </div>
            }
        </div>
        </div>
    </div>



<script>

    $(function () {

   

        if ($(this).find("i").length > 0) {
            var iClass = $(this).find("i").attr("class");
        } else {
            var iClass = $(this).find("span").not("span[class=glyphicon-class]").attr("class");
        }

        var icon_preview = $("<i></i>").addClass(iClass);

        $("#iconPreview .icon-preview").html(icon_preview);

        $("#iconPreview .icon-preview-span").html('&lt;span class="' + iClass + '">&lt;/span>');
        $("#iconPreview .icon-preview-i").html('&lt;i class="' + iClass + '">&lt;/i>');
        $("#iconPreview .icon-preview-class").html(iClass);

        $("#iconPreview").modal("show");

    });
</script>

