﻿@model PaymezonApp.Models.IPViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <br />
                <div class="header">
                    <h2>
                        IP Address Details
                    </h2>
                </div>
                @if (Model.List_IP_By_Id.Count == 0)
                {       
                              <input type="button" id="show" name="name" class="btn btn-success pull-left" value="Add New IP" onclick="AddIP();" />
                } 
                <br>
                <br>

            </div>

            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table datatable" id="IP" cellspacing="0" cellpadding="3" rules="all" border="1" style="background-color: White; border-color: #CCCCCC; border-width: 1px; border-style: None; font-weight: normal; font-style: normal; text-decoration: none; width: 100%; border-collapse: collapse; ">

                        <thead>
                            <tr align="left" style="color:Black;background-color:#DBE4E8;font-weight:bold;">
                                <th scope="col">Sr No.</th>
                                <th scope="col" style="visibility:hidden;">Id</th>
                                <th scope="col">1st IP Address</th>
                                <th scope="col">2nd IP Address</th>
                                <th scope="col">3rd IP Address</th>
                                <th scope="col">4th IP Address</th>
                                <th scope="col">5th IP Address</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0;}
                            @foreach (var item in Model.List_IP_By_Id)
                            {
                                i++;

                                <tr align="left" valign="middle" style="color:#000066;background-color:White;">
                                    <td>@i</td>
                                    <td style="visibility:hidden;">@item.Pk_Ip_Id</td>
                                    <td>@item.Ip_One</td>
                                    <td>@item.Ip_Two</td>
                                    <td>@item.Ip_Three</td>
                                    <td>@item.Ip_Four</td>
                                    <td>@item.Ip_Five</td>
                                    <td> </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div id='OpenDilog'></div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        GetIPJSON();
    });
    function AddIP() {
        var div = $("#OpenDilog");
        $.mpb('show', { value: [0, 30], speed: 10, state: 'success' });
        div.load("/IP/AddIP", function () {
            $.mpb("update", {
                value: 100, speed: 5, complete: function () {
                    $(".mpb").fadeOut(200, function () {
                        $(this).remove();
                    });
                }
            });
            div.modal('show', { backdrop: 'static' });
        });
    }

    function GetIPJSON() {
        $('#IP').dataTable({
            "bDestroy": true
        }).fnDestroy();

        window.table = $('#IP').DataTable({

            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<button id='edt' class='btn btn-default btn-rounded btn-sm' ><i class='material-icons'>edit</i></button>&nbsp;&nbsp;"
            }],
            "bDestroy": true


        });
        $('#IP tbody').unbind().on('click', 'button', function () {
            debugger;
            var data = window.table.row($(this).parents('tr')).data();
            if ($(this).attr('id') == 'edt') {

                EditAPI(data['1']);
            }
            if ($(this).attr('id') == 'del') {
                DeleteAPI(data['1']);
            }


        });

    }
    function EditAPI(Id) {
        debugger;
        var div = $("#OpenDilog");

        div.load("/IP/EditIP?id=" + Id, function () {

            div.modal('show', { backdrop: 'static' });
        });
    }
    function DeleteAPI(Id) {
        if (confirm("Are You Sure to Delete ? ")) {
            $.ajax({

                url: "/IP/DeleteIP?id=" + Id,
                type: "post",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    setTimeout(function () {
                        GetAPIJSON()

                    }, 500);

                    ModalResponce(data, true);

                },
                error: function (xhr) {
                    alert(xhr);
                }

            });


        }
    }

</script>

