﻿@model PaymezonApp.Models.AssignApiViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}
@*<script src="~/admin/js/pages/forms/bootstrap-select.js"></script>*@

<link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/admin/css/style.css")" />

<style>
    #AsssignApi th {
        vertical-align: top;
    }
</style>

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Assign Api

                    </h2>

                </div>
                <div class="body">
                    @using (Html.BeginForm("Index", "AssignApi", FormMethod.Post))
                    {
                        <div class="row clearfix">
                            @Html.HiddenFor(model => model.Pk_Assign_Api_Id)
                            @*<div class="col-sm-4">
                                    <label for="Operator_Id">Select Operator</label>
                                    @Html.DropDownListFor(model => model.Operator_Id, new SelectList(Model.listvendor, "OperatorID", "Operator"), "--Select Operator --", new { @class = "form-control show-tick" })
                                </div>*@
                            <div class="col-sm-4">
                                <label for="Operator_Id">Select Operator</label>
                                @Html.DropDownListFor(model => model.Operator_Id, new SelectList(Model.listcompany, "Pk_Company_Id", "Company_Name"), "--Select Operator --", new { @class = "form-control show-tick" })
                            </div>
                            <div class="col-sm-4">
                                <label for="Grater_than_Amount">Enter GreaterThan ( > ) Amount</label>
                                @Html.TextBoxFor(model => model.Grater_than_Amount, new { @class = "form-control", @placeholder = " GreaterThan '>' Amount", @type = "Number" })
                            </div>
                            <div class="col-sm-4">
                                <label for="Api_Id_by_Amount">Select Api By Amount</label>
                                @Html.DropDownListFor(model => model.Api_Id_by_Amount, new SelectList(Model.listApi, "Api_ID", "Api_Name"), "--Select Api By Amount--", new { @class = "form-control show-tick" })
                            </div>
                            <div class="col-sm-4">
                                <label for="Normal_Api_Id">Select Normal Api</label>
                                @Html.DropDownListFor(model => model.Normal_Api_Id, new SelectList(Model.listApi, "Api_ID", "Api_Name"), "--Select Normal Api--", new { @class = "form-control show-tick" })
                            </div>
                            <div class="col-sm-4">
                                <label for="Emergency_Api_Id">Select Emergency Api</label>
                                @Html.DropDownListFor(model => model.Emergency_Api_Id, new SelectList(Model.listApi, "Api_ID", "Api_Name"), "--Select Emergency Api--", new { @class = "form-control show-tick" })
                            </div>
                            <div class="col-md-12">
                                <p style="color: red;">@Html.DisplayFor(model => model.message)</p>
                                <button class="btn btn-info mb-control" id="btnsave">Assign Api</button>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    @*<input type="button" id="show" name="name" class="btn btn-success pull-right" value="Assign Api" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="AssignApi" onclick="CreateAssignApi();" />*@

                    <h2>
                        Assign Api Detail
                    </h2>
                </div>
                <div class="body">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="AsssignApi">
                        <thead>

                            <tr>
                                <th>S.No.</th>
                                <th>Operator Name</th>
                                <th> GreaterThan Amount</th>
                                <th>Api By AMount</th>
                                <th>Normal Api</th>
                                <th>Emergenacy Api</th>
                                <th>Status</th>
                                <th style="display:none;">Operator ID</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>S.No.</th>

                                <th>Operator Name</th>
                                <th> GreaterThan Amount</th>
                                <th>Api By AMount</th>
                                <th>Normal Api</th>
                                <th>Emergenacy Api</th>
                                <th>Status</th>
                                <th style="display:none;">Operator ID</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model.list_assign_api)
                            {
                                <tr>
                                    <td>@item.Pk_Assign_Api_Id</td>
                                    <td>@item.opName</td>
                                    <td>@item.Grater_than_Amount</td>
                                    <td>@item.ApiByAmount</td>
                                    <td>@item.NormalApi</td>
                                    <td>@item.EmergencyApi</td>
                                    @if (@item.Is_Deleted.ToString() == "True")
                                    {
                                        <td style="color: white;background-color: green;"> Activated</td>

                                    }
                                    else
                                    {
                                        <td style="color: white;background-color: red;"> Deactivated</td>
                                    }

                                    <td style="display:none;">@item.Operator_Id</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <div id="OpenDilog">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        GetCMNYJSON();
    });

    function CreateAssignApi() {
        var div = $("#OpenDilog");
        //$.mpb('show', { value: [0, 30], speed: 10, state: 'success' });
        div.load("/AssignApi/CreateAssignApi", function () {

            //$.mpb("update", {
            //    value: 100, speed: 5, complete: function () {
            //        $(".mpb").fadeOut(200, function () {
            //            $(this).remove();
            //        });
            //    }
            //});
            div.modal('show', { backdrop: 'static' });
        });
    }

    function GetCMNYJSON() {
        $('#AsssignApi').dataTable({
            "bDestroy": true
        }).fnDestroy();
        debugger;
        window.table = $('#AsssignApi').DataTable({

            "columnDefs": [{
                "targets": -1,
                "data": "Is_Deleted",
                "render": function (data, type, full, meta) {
                    debugger;
                    if (full[6] == "Activated") {
                        return "<button id='edt' class='btn btn-default btn-rounded btn-sm' ><i class='material-icons'>edit</i></button>&nbsp;&nbsp;<button id='del' class='btn btn-default btn-rounded btn-sm edit'><i class='material-icons'>delete_sweep</i></button>"

                    }
                    else {
                        return "<button id='edt' class='btn btn-default btn-rounded btn-sm' ><i class='material-icons'>edit</i></button>&nbsp;&nbsp;<button id='active' class='btn btn-default btn-rounded btn-sm edit'><i class='material-icons'>spellcheck</i></button>"

                    }

                }
                // "defaultContent": "<button id='edt' class='btn btn-default btn-rounded btn-sm' ><i class='material-icons'>edit</i></button>&nbsp;&nbsp;<button id='del' class='btn btn-default btn-rounded btn-sm edit'><i class='material-icons'>delete_sweep</i></button>"

            }],
            "bDestroy": true


        });
        $('#AsssignApi tbody').unbind().on('click', 'button', function () {

            debugger;
            var data = window.table.row($(this).parents('tr')).data();
            if ($(this).attr('id') == 'edt') {
                debugger;
                $("#Operator_Id option").each(function () {
                    debugger;
                    var id = data['7'];
                    // $(this).val(data['7']);

                    if ($(this).val() == data['7']) {
                        debugger;
                        $(this).attr('selected', 'selected');
                    }
                });
                $("#Api_Id_by_Amount option").each(function () {
                    if ($(this).text() == data['3']) {
                        $(this).attr('selected', 'selected');
                    }
                });
                $("#Normal_Api_Id option").each(function () {
                    if ($(this).text() == data['4']) {
                        $(this).attr('selected', 'selected');
                    }
                });
                $("#Emergency_Api_Id option").each(function () {
                    if ($(this).text() == data['5']) {
                        $(this).attr('selected', 'selected');
                    }
                });

                // $('#Operator_Id').val(data['7']);
                $('#Grater_than_Amount').val(data['2']);
                $('#Pk_Assign_Api_Id').val(data['0']);
                //$('#Api_Id_by_Amount ').val(data['3']);
                //$('#Normal_Api_Id    ').val(data['4']);
                //$('#Emergency_Api_Id ').val(data['5']);
                /// EditAPI(data['0']);

            }

            if ($(this).attr('id') == 'del') {
                DeleteAPI(data['0']);
            }
            if ($(this).attr('id') == 'active') {
                ActiveApI(data['0']);
            }



        });

    }
    function EditAPI(Id) {

        //var div = $("#OpenDilog");

        //div.load("/AssignApi/EditAssignApi?id=" + Id, function () {

        //    div.modal('show', { backdrop: 'static' });
        //});
    }
    function DeleteAPI(Id) {
        if (confirm("Are You Sure want to Block Operator for All Users? ")) {
            debugger;

            var div = $("#OpenDilog");

            div.load("/Admin/deletedata?id=" + Id + "&pagename=DeleteAssignApi",
                function () {

                    div.modal('show', { backdrop: 'static' });
                });


            //$.ajax({

            //    url: "/AssignApi/DeleteAssignApi?id=" + Id,
            //    type: "post",
            //    contentType: "application/json;charset=utf-8",
            //    success: function (data) {
            //        setTimeout(function () {
            //            GetAPIJSON()

            //        }, 500);

            //        ModalResponce(data, true);

            //    },
            //    error: function (xhr) {
            //        alert(xhr);
            //    }

            //});


        }
    }

    function ActiveApI(Id) {
        if (confirm("Are You Sure want to Active Operator for All Users? ")) {
            debugger;

            var div = $("#OpenDilog");

            div.load("/Admin/deletedata?id=" + Id + "&pagename=ActiveApI",
                function () {

                    div.modal('show', { backdrop: 'static' });
                });


            //$.ajax({

            //    url: "/AssignApi/DeleteAssignApi?id=" + Id,
            //    type: "post",
            //    contentType: "application/json;charset=utf-8",
            //    success: function (data) {
            //        setTimeout(function () {
            //            GetAPIJSON()

            //        }, 500);

            //        ModalResponce(data, true);

            //    },
            //    error: function (xhr) {
            //        alert(xhr);
            //    }

            //});


        }
    }
</script>

