﻿@model PaymezonApp.Models.VendorDiversionViewModel
@{
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/admin/css/style.css")" />

<style>
    #Commision th {
        vertical-align: top;
    }
</style>
<form id="formVendor">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Vendor Diversion Detail
                        </h2>
                    </div>
                    <div class="body">
                        <div class="form-group">
                            <div class="form-line">
                                <label for="Api_Id_by_Amount">Select Api for Assign operator</label>
                                @Html.DropDownListFor(model => model.ServiceProvider, new SelectList(Model.listApi, "Api_Name", "Api_Name"), "--Select Api for Assign operator--", new { @class = "form-control show-tick", @onchange = "LoadVendordiversionlist(this.value);" })
                            </div>
                        </div>
                        <input type="button" id="Btnvendor" name="name" class="btn btn-success pull-right" value="Submit Vendordiversion" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Submit Vendordiversion" onclick="SubmitVendordiversion();" />
                    </div>
                    <div class="body">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="VendorDiversion">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Own Operator Name</th>
                                    <th>Own Operator Code</th>
                                    <th>Service Type</th>
                                    <th>Api Operator Code</th>
                                    <th>Recharge Type</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Own Operator Name</th>
                                    <th>Own Operator Code</th>
                                    <th>Service Type</th>
                                    <th>Api Operator Code</th>
                                    <th>Recharge Type</th>
                                </tr>
                            </tfoot>
                            @*<tbody>
                @{int i = 0;}
                @foreach (var item in Model.listcompany)
                {
                    i++;
                    <tr>
                        <td>@i</td>

                        <td>@item.Company_Name</td>
                        <td>@item.Company_Code</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                }
            </tbody>*@

                        </table>
                    </div>
                    <div id="OpenDilog">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        GetCMNYJSON();
    });
    function LoadVendordiversionlist(serviceprovider)
    {
        $('#VendorDiversion').dataTable({
            "bDestroy": true
        }).fnDestroy();
        window.table = $('#VendorDiversion').DataTable({
            "processing": true,
            "serverSide": true,
            'searching': false,
            "ajax": "/VendorDiversion/selectVendordiversionlist?apiname=" + serviceprovider,
            "columns": [
                { "data": "Pk_Company_Id" },
                { "data": "Company_Name" },
                { "data": "Company_Code" },
                { "data": "ServiceType" },
                { "data": "OperatorCode" },
                { "data": "RechargeType" }
            ],
            "columnDefs": [{
                "targets": 3,
                "data": "ServiceType",
                "render": function (data, type, full, meta) {                   
                    return "<input  class='form-control' data-val='true'  id='txtservicetype' placeholder='Service Type'  name='servicetype' value='" + data + "'>"
                }
                //"defaultContent": "<input  class='form-control' data-val='true'  id='txtservicetype' placeholder='Service Type'  name='servicetype' value='" + data + "'>"

            },
             {
                 "targets": 4,
                 "data": "OperatorCode",
                 "render": function (data, type, full, meta) {                   
                     return "<input  class='form-control' data-val='true'  id='txtapiocode' placeholder='Api Operator Code' name='apioperatorcode'value='" + data + "' >"
                 }
              //   "defaultContent": "<input  class='form-control' data-val='true'  id='txtapiocode' placeholder='Api Operator Code' name='apioperatorcode'value='" + data + "' >"

             }
     , {
         "targets": 5,
         "data": "RechargeType",
         "render": function (data, type, full, meta) {                   
             return "<input  class='form-control' data-val='true'  id='txtrechargetype' placeholder='Api Operator Code' name='apioperatorcode'value='" + data + "' >"
         }
      //   "defaultContent": "<input  class='form-control' data-val='true'  id='txtrtype' placeholder='Recharge Type'  name='rechargetype'value='" + data + "' >"

     }
            ],
            "bDestroy": true
        });
    }

    function GetCMNYJSON() {
        $('#VendorDiversion').dataTable({
            "bDestroy": true
        }).fnDestroy();


        window.table = $('#VendorDiversion').DataTable({

            "columnDefs": [{
                "targets": 3,
                "data": null,
                "defaultContent": "<input  class='form-control' data-val='true'  id='txtservicetype' placeholder='Service Type'  name='servicetype' >"

            },
            {
                "targets": 4,
                "data": null,
                "defaultContent": "<input  class='form-control' data-val='true'  id='txtapiocode' placeholder='Api Operator Code' name='apioperatorcode' >"

    }
    , {
        "targets": 5,
        "data": null,
        "defaultContent": "<input  class='form-control' data-val='true'  id='txtrtype' placeholder='Recharge Type'  name='rechargetype' >"

    }
            ],
            
            
            "bDestroy": true



        });



    }
    function selectVendordiversionlist()
    {
        var serviceprovider = document.getElementById("ServiceProvider").value
        debugger;
        $.ajax({
            url: "/VendorDiversion/selectVendordiversionlist?apiname=" + serviceprovider,
            type: "GET",
            "processing": true,
            async: true,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                debugger;
                $('#VendorDiversion').dataTable({
                    "bDestroy": true
                }).fnDestroy();


                window.table = $('#VendorDiversion').DataTable({

                    "columnDefs": [{
                        "targets": 3,
                        "data": null,
                        "defaultContent": "<input  class='form-control' data-val='true'  id='txtservicetype' placeholder='Service Type' value='" + data.ServiceType + "' name='servicetype' >"

                    },
                    {
                        "targets": 4,
                        "data": null,
                        "defaultContent": "<input  class='form-control' data-val='true'  id='txtapiocode' placeholder='Api Operator Code' name='apioperatorcode' >"

                    }
            , {
                "targets": 5,
                "data": null,
                "defaultContent": "<input  class='form-control' data-val='true'  id='txtrtype' placeholder='Recharge Type'  name='rechargetype' >"

            }
                    ],


                    "bDestroy": true



                });
                //window.table = $('#VendorDiversion').DataTable({
                //     "columns": [
                //         { "data": "Operator" },
                //         { "data": "Operator" },
                //         { "data": "ServiceType" },
                //         { "data": "OperatorCode" },
                //         { "data": "RechargeType" }

                //    ],
                   
                //    "bDestroy": true

                //});

            },
            error: function (xhr) {
                debugger;
                $("#Btnvendor").button('reset');

                $("#formVendor").trigger('reset');
                alert('Error')
            }
        });
    }
    function SubmitVendordiversion() {

        debugger;

        var flist = [];
        var resData;

        debugger;

        $('#VendorDiversion tr #txtrechargetype').each(function () {
            debugger;
            var rechargetype = $(this).val();
            var serviceprovider = document.getElementById("ServiceProvider").value

            var ownOperatorName = $(this).closest('tr').find('td:eq(1)').text();
            var ownOperatorcode = $(this).closest('tr').find('td:eq(2)').text();
            var servicetype = document.getElementById("txtservicetype").value
            var apioperatorcode = document.getElementById("txtapiocode").value
            resData = { "Operator": ownOperatorcode, "ServiceProvider": serviceprovider, "ServiceType": servicetype, "OperatorCode": apioperatorcode, "RechargeType": rechargetype };
            flist.push(resData);
        });
        $("#Btnvendor").button('loading');
        $.ajax({
            url: "/VendorDiversion/AddVendorDiversion",
            data: JSON.stringify(flist),
            type: "POST",
            "processing": true,
            async: true,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                debugger;
                $("#Btnvendor").button('reset');
                $("#formVendor").trigger('reset');
                window.location.href = "/VendorDiversion/Index";
            },
            error: function (xhr)
            {
                $("#Btnvendor").button('reset');
                $("#formVendor").trigger('reset');
                window.location.href = "/VendorDiversion/Index";
            }
        });


    }

</script>




