﻿@model PaymezonApp.Models.SupportViewModels

<ul class="nav navbar-nav navbar-right">
    @{int i = 0;}
    <li class="dropdown">
        <ul class="dropdown-menu">
            <li class="header">NOTIFICATIONS</li>
            <li class="body">
                <ul class="menu">
                    @foreach (var item in Model.List_SupportDetail.Take(5))
                    {
                        i++;
                        <li>

                            <a href="@Url.Content("/Admin/SupportSystem")">
                                <div class="icon-circle bg-blue-grey">
                                    <i class="material-icons">comment</i>
                                </div>
                                <div class="menu-info" >
                                    <h4><b>@item.Company</b>@item.Query_Type--@item.Token_no</h4>
                                    <p>
                                        <i class="material-icons">access_time</i>@item.Created_Date
                                    </p>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </li>
            <li class="footer">
                <a @*href="javascript:void(0);"*@ href="@Url.Content("/Admin/SupportSystem")">View All Notifications</a>
            </li>
        </ul>
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="material-icons">notifications</i>
            <span class="label-count">@i</span>
        </a>
    </li>
</ul>

    <script type="text/javascript">
        $(function () {
            setInterval("$('#navbar-collapse').load('../Notification/Index')", 30000);
        });
    </script>
