﻿@model PaymezonApp.Models.RegisterViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Pages</a></li>
    <li class="active">Profile</li>
</ul>
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-2">

            <div class="panel panel-default">
                <div class="panel-body profile" style="background: url('../assets/images/gallery/music-4.jpg') center center no-repeat;">
                    <div class="profile-image">
                        <img src ="@Url.Content("~/assets/images/users/avatar.jpg")" alt="@Session["User_Name"]" />
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">@Session["User_Name"]</div>
                        <div class="profile-data-title" style="color: #FFF;"></div>
                    </div>
                   
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-info btn-rounded btn-block" onclick="ChangePassword();"><span class="fa fa-check"></span>Change Password</button>
                        </div>
                     </div>
                </div>
               
            </div>

        </div>
        <div class="col-md-10">

          @using (Html.BeginForm("Edituser", "Profile", FormMethod.Post))
            {
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Profile Detail</h2>
                    <p>Your Profile Details:</p>
                    @Html.HiddenFor(model => model.dalusrreg.Pk_Register_ID)
                    <div class="col-md-6">
                        <div class="form-group">
                       <label >Label ID</label> <label>@Html.TextBoxFor(model => model.dalusrreg.Label_Id, new { @class = "form-control", @readonly = "readonly" }) </label>
                        </div>
                        <div class="form-group">
                          <label>Company /Firm Name</label>
                                @Html.TextBoxFor(model => model.dalusrreg.Company_Name, new { @class = "form-control", @placeholder = "Company /Firm Name", @readonly = "readonly" })
                        </div>
                        <div class="form-group">
                            <label>Mobile Number</label>
                                @Html.TextBoxFor(model => model.dalusrreg.Mobile_Number, new { @class = "form-control", @placeholder = "Mobile Number", @type = "number" })
                          
                        </div>
                        <div class="form-group">
                            <label>Helpdesk E-mail Id</label>
                                @Html.TextBoxFor(model => model.dalusrreg.Helpdesk_Email, new { @class = "form-control", @placeholder = "Helpdesk E-mail Id *" })
                         
                        </div>
                        <div class="form-group">
                            <label>Domain name</label>
                                @Html.TextBoxFor(model => model.dalusrreg.Domain_Name, new { @class = "form-control", @placeholder = "Domain name" })
                         
                        </div>
                        <div class="form-group">
                            <label>Copyright</label>
                                @Html.TextBoxFor(model => model.dalusrreg.Copyright, new { @class = "form-control", @placeholder = "Copyright" })
                            
                        </div>
                        <div class="form-group">
                            <label>Panel Title</label>
                                @Html.TextBoxFor(model => model.dalusrreg.Panel_Title, new { @class = "form-control", @placeholder = "Panel Title" })
                           
                        </div>
                        <div class="form-group">
                            <label>Portal Name</label>
                                @Html.TextBoxFor(model => model.dalusrreg.Author_Name, new { @class = "form-control", @placeholder = "Portal Name " })
                            
                        </div>
                        <div class="form-group">
                            <label>Firm Name</label>
                                @Html.TextBoxFor(model => model.dalusrreg.Portal_FName, new { @class = "form-control", @placeholder = "Firm Name" })
                            
                        </div>
                      
                       
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Owner Name</label>
                            @Html.TextBoxFor(model => model.dalusrreg.Portal_MName, new { @class = "form-control", @placeholder = "Owner Name" })

                        </div>
                        <div class="form-group">
                            <label>Authorize Person E-mail Id</label>
                                @Html.TextBoxFor(model => model.dalusrreg.Author_Email, new { @class = "form-control", @placeholder = "Authorize Person E-mail Id", @readonly = "readonly" })
                           
                        </div>
                        <div class="form-group">
                            <label>Authorize Person Mobile No</label>
                                @Html.TextBoxFor(model => model.dalusrreg.Author_MobNo, new { @class = "form-control", @placeholder = "Authorize Person Mobile No", @type = "number" })
                            
                        </div>
                        <div class="form-group">
                            <label>PAN/ S. Tax/ TIN Number</label>
                                @Html.TextBoxFor(model => model.dalusrreg.PAN_Num, new { @class = "form-control", @placeholder = "PAN/ S. Tax/ TIN Number" })
                            
                        </div>
                        <div class="form-group">
                            <label>Office Address</label>
                                @Html.TextAreaFor(model => model.dalusrreg.Office_Address, new { @class = "form-control", @placeholder = "Office Address" })
                           
                        </div>
                        <div class="form-group">
                            <div class="form-line">

                                India
                                <select class="form-control show-tick">
                                    <option selected="selected" value="101">Select State</option>
                                    <option value="102">Andhra Pradesh</option>
                                    <option value="103">Andaman &amp; Nicobar</option>
                                    <option value="104">Arunachal Pradesh</option>
                                    <option value="105">Assam</option>
                                    <option value="106">Bihar</option>
                                    <option value="107">Chandigarh</option>
                                    <option value="108">Chhattisgarh</option>
                                    <option value="109">Dadar And Nagar Haveli</option>
                                    <option value="110">Daman and Diu</option>
                                    <option value="111">Delhi</option>
                                    <option value="112">Goa</option>
                                    <option value="113">Gujarat</option>
                                    <option value="114">Haryana</option>
                                    <option value="115">Himachal Pradesh</option>
                                    <option value="116">Jammu and Kashmir</option>
                                    <option value="117">Jharkhand</option>
                                    <option value="118">Karnataka</option>
                                    <option value="119">Kerala</option>
                                    <option value="120">Lakshadweep</option>
                                    <option value="121">Madhya Pradesh</option>
                                    <option value="122">Maharashtra</option>
                                    <option value="123">Manipur</option>
                                    <option value="124">Meghalaya</option>
                                    <option value="125">Mizoram</option>
                                    <option value="126">Nagaland</option>
                                    <option value="127">Odisha</option>
                                    <option value="128">Puducherry</option>
                                    <option value="129">Punjab</option>
                                    <option value="130">Rajasthan</option>
                                    <option value="131">Sikkim</option>
                                    <option value="132">Tamil Nadu</option>
                                    <option value="133">Tripura</option>
                                    <option value="134">Uttar Pradesh</option>
                                    <option value="135">Uttarakhand</option>
                                    <option value="136">West Bengal</option>

                                </select>
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <label>City</label>
                                @Html.TextBoxFor(model => model.dalusrreg.City, new { @class = "form-control", @placeholder = "City" })
                          
                        </div>
                        <div class="form-group">
                            <label>Pin Code</label>
                                @Html.TextBoxFor(model => model.dalusrreg.Pincode, new { @class = "form-control", @placeholder = "Pin Code" })
                          
                        </div>
           
                        <div class="form-group">
                            <label>Return URL</label>
                                @Html.TextBoxFor(model => model.dalusrreg.Return_URL, new { @class = "form-control", @placeholder = "Return URL" })
                          
                        </div>
                    </div>
                   
                 </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <button class="btn btn-success btn-block">Update Profile</button>
                        <br>
                        <br>
          
                    </div>
                </div>

            </div>
            }
            <!-- END LOGIN WIDGET -->

        </div>
        <div id='OpenDilog'></div>

    </div>
</div>

<script type="text/javascript">

    function ChangePassword() {
        debugger;
        var div = $("#OpenDilog");
        $.mpb('show', { value: [0, 30], speed: 10, state: 'success' });
        div.load("/Profile/ChangePassword", function () {
            $.mpb("update", {
                value: 100, speed: 5, complete: function () {
                    $(".mpb").fadeOut(200, function () {
                        $(this).remove();
                    });
                }
            });
            div.modal('show', { backdrop: 'static' });
        });
    }


</script>
