﻿@model PaymezonApp.Models.UserWalletViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           
            <br />
            <br />
@using (Html.BeginForm("FundReport", "ALLReport", FormMethod.Post))
      {
            <div class="panel panel-success panel-hidden-controls">
                <div class="panel-heading">
                    <h3 class="panel-title"> Re-Fund Report</h3>
                </div>
                <div class="panel-body">

                    <div class="col-md-4">
                        <label class="col-md-4 control-label">From Date :</label>
                        <div class="input-group">
                            <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                            @Html.TextBoxFor(model => model.fromdate, new { @class = "form-control dt", @placeholder = "Please choose a date..." })
                        </div>
                        <br/>
                        <p style="color: red;">@Html.DisplayFor(model => model.message)</p>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">To Date :</label>
                        <div class="input-group">
                            <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                            @Html.TextBoxFor(model => model.todate, new { @class = "form-control dt", @placeholder = "Please choose a date..." })
                        </div>
                    </div>
                </div>
                <div class="panel-footer">

                    <button class="btn btn-success pull-right">Search</button>
                </div>
            </div>
       }
            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table datatable" id="UserWallet" cellspacing="0" cellpadding="3" rules="all" border="1" style="background-color: White; border-color: #CCCCCC; border-width: 1px; border-style: None; font-weight: normal; font-style: normal; text-decoration: none; width: 100%; border-collapse: collapse; ">

                        <thead>
                            <tr align="left" style="color:Black;background-color:#DBE4E8;font-weight:bold;">
                                <th scope="col">Sr No.</th>
                                <th scope="col"> Date </th>
                                <th scope="col">User Name</th>
                                <th scope="col">Label ID</th>
                                <th scope="col">Fund Amount</th>
                                <th scope="col">Debit Amount</th>
                                <th scope="col">Credit Amount</th>
                                <th scope="col">Description</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0;}
                            @foreach (var item in Model.List_UserWallet_BYId)
                            {
                                i++;

                                <tr align="left" valign="middle" style="color:#000066;background-color:White;">
                                    <td>@i</td>
                                    <td>@item.Created_Date</td>
                                    <td>@item.User_Name</td>
                                    <td>@item.Label_Id</td>
                                    <td>@item.Fund_Amount</td>
                                    <td>@item.Debit_Amount</td>
                                    <td>@item.Credit_Amount</td>
                                    <td>@item.Description</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div id='OpenDilog'></div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>