﻿<!DOCTYPE html>
<html>
<head>
 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To Admin</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="@Url.Content("~/admin/plugins/bootstrap/css/bootstrap.css")" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="@Url.Content("~/admin/plugins/node-waves/waves.css")" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="@Url.Content("~/admin/plugins/animate-css/animate.css")" rel="stylesheet" />
    <!-- Preloader Css -->
    <link href="@Url.Content("~/admin/plugins/material-design-preloader/md-preloader.css")" rel="stylesheet" />
    <!-- Morris Chart Css-->
    <link href="@Url.Content("~/admin/plugins/morrisjs/morris.css")" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="@Url.Content("~/admin/css/style.css")" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="@Url.Content("~/admin/css/themes/all-themes.css")" rel="stylesheet" />
    <link href="@Url.Content("~/admin/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/admin/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css")" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/adminjs")
    @Scripts.Render("~/bundles/datatablejs")
    @*<link href="@Url.Content(" ~/admin/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js ")" />*@
    @RenderSection("scripts", required: false)
</head>
<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="md-preloader pl-size-md">
                <svg viewbox="0 0 75 75">
                    <circle cx="37.5" cy="37.5" r="33.5" class="pl-red" stroke-width="4" />
                </svg>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="#">Paymezon</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
               
                         @Html.Action("Index","Notification") 
               
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                @*<div class="image">
                    <img src="~/admin/images/logo.png" width="48" height="48" alt="User" />
                </div>*@<br/>
                <br />
                <br />
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Paymezon</div>
                    <div class="email">info@paymezon.com</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                          
                            <li><a href="@Url.Content("/Admin/Index")"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="@Url.Content("/Admin/Dashboard")">
                            <i class="material-icons">home</i>
                            <span>HOME</span>
                        </a>
                    </li>
              
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">swap_calls</i>
                            <span>ACTIVITY</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="@Url.Content("/Admin/Adminuser")">USERS</a>
                            </li>
                            <li>
                                <a href="@Url.Content("/Admin/API")">API</a>
                            </li>
                            <li>
                                <a href="@Url.Content("/AssignApi/Index")">ASSIGN API</a>
                            </li>
                           
                         </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">trending_down</i>
                            <span>SERVICES</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="@Url.Content("/Admin/FundRequestService")">FUND REQUEST</a>
                            </li>
                            <li>
                                <a href="@Url.Content("/Admin/SupportSystem")">SUPPORT SYSTEM</a>
                            </li>
                            @*<li>
                                <a href="@Url.Content("/Commision/Index")">Commision Detail</a>
                            </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">trending_down</i>
                            <span>REPORTS</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="@Url.Content("/Admin/dailyureportforadmin")">ACCOUNT STATEMENT REPORT</a>
                            </li>
                            <li>
                                <a href="@Url.Content("/FundRequest/SuceessFundDetail")">FUND REQUEST REPORT</a>
                            </li>
                          @*<li>
                                <a href="@Url.Content("/Commision/CommisionReport")">Commision Report</a>
                            </li>*@
                            <li>
                                <a href="@Url.Content("/Admin/TransactionReport")">TRANSACTION REPORT</a>
                            </li>
                            <li>
                                <a href="@Url.Content("/Admin/WalletHistory")">WALLET HISTORY REPORT</a>
                            </li>
                            <li>
                                <a href="@Url.Content("/AllReport/Jioreport")">JIO REPORT</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">assignment</i>
                            <span>CONTROL PANEL</span>
                        </a>
                        <ul class="ml-menu">

                            <li>
                                <a href="@Url.Content("/Company/Index")">COMPANY OPERATORS</a>
                            </li>
                            <li>
                                <a href="@Url.Content("/VendorDiversion/Index")">VENDOR DIVERSIONS</a>
                            </li>
                         


                          
                        </ul>
                    </li>
                   
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2017 <a href="javascript:void(0);">Paymezon</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.3
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
      
    </section>
    <section class="content">

        @RenderBody()

     </section>
 
    <!-- Jquery Core Js -->
   
  
    <!-- Bootstrap Core Js -->
  
    <!-- Select Plugin Js -->
  
    <!-- Flot Charts Plugin Js -->
    @*<script src="@Url.Content("~/admin/plugins/flot-charts/jquery.flot.js")"></script>
    <script src="@Url.Content("~/admin/plugins/flot-charts/jquery.flot.resize.js")"></script>
    <script src="@Url.Content("~/admin/plugins/flot-charts/jquery.flot.pie.js")"></script>
    <script src="@Url.Content("~/admin/plugins/flot-charts/jquery.flot.categories.js")"></script>
    <script src="@Url.Content("~/admin/plugins/flot-charts/jquery.flot.time.js")"></script>*@
    <!-- Sparkline Chart Plugin Js -->
  
    @*<script src="@Url.Content("~/admin/js/pages/index.js")"></script>*@
    <!-- Demo Js -->
    
</body>

</html> 