﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAYMEZON</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    @*<link rel="icon" href="favicon.ico" type="image/x-icon" />*@
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/css")
   
    @Scripts.Render("~/bundles/js")

    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="page-container">

        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="@Url.Content("/Home/Dashboard")">PAYMEZON</a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img src="@Url.Content("~/assets/images/users/avatar.jpg")" alt="@Session["User_Name"]" />
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <a href="@Url.Content("/Profile/index")"><img src="@Url.Content("~/assets/images/users/avatar.jpg")" alt="@Session["User_Name"]" /></a>
</div>
                        <div class="profile-data">
                            <div class="profile-data-name"> <a href="@Url.Content("/Profile/index")" class="profile-data-name">@Session["User_Name"]</a></div>
                            <!--<div class="profile-data-title">Web Developer/Designer</div>-->
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name"> <a href="@Url.Content("/Profile/index")" class="profile-data-name">Balance: @PaymezonApp.Utility.balance</a></div>
                            <!--<div class="profile-data-title">Web Developer/Designer</div>-->
                        </div>
                        <div class="profile-controls">
                            @*<a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                            <a href="#" class="profile-control-right"><span class="fa fa-envelope"></span></a>*@
                        </div>
                    </div>
                </li>
                <li class="xn-title"></li>
                <li>
                    <a href="@Url.Content("/Home/Dashboard")"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                </li>
                <li>
                    <a href="@Url.Content("/IP/Index")">IP Address</a>
                </li>
                <li>
                    <a href="@Url.Content("../Recharge/Index")"><span class="fa fa-image"></span>Recharge Support</a>
                </li>
                @*<li>
                    <a href="@Url.Content("/APIRecharger/Index")">Relience recharge</a>
                </li>*@
                @*<li><a href="@Url.Content("/Register/Index")"><span class="fa fa-image"></span>Add User</a></li>*@
                <li><a href="@Url.Content("/FundRequest/Index")"><span class="fa fa-image"></span>Fund Request</a></li>
                 
             @*   @if(@Session["User_Type"].ToString() == "4")
    {
      <li class="xn-openable ">
            <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Recharge</span></a>
            <ul>
                <li onclick="AddRecharge();"><a><span class="fa fa-image"></span>Add New Recharge</a></li>
                <li><a href="@Url.Content("../Recharge/Index")"><span class="fa fa-image"></span>Recharge Detail</a></li>
            </ul>
        </li>
                }*@
                <li class="xn-openable Active active">
    <a><span class="fa fa-files-o"></span> <span class="xn-text">Reports</span></a>
    <ul>
        <li><a href="@Url.Content("../Recharge/Index")"><span class="fa fa-image"></span>Recharge Detail</a></li>
        <li><a href="@Url.Content("../UserWallet/Index")"><span class="fa fa-image"></span> Wallet History</a></li>
        <li><a href="@Url.Content("../UserWallet/TransactionReport")"><span class="fa fa-image"></span> Transactions Report</a></li>
        <li><a href="@Url.Content("../AllReport/DailyReport")"><span class="fa fa-image"></span>Daily Report</a></li>
        <li><a href="@Url.Content("../AllReport/OperatorWiseReport")"><span class="fa fa-image"></span>Operator Wise Report</a></li>
        <li><a href="@Url.Content("../AllReport/FundReport")"><span class="fa fa-image"></span>Re-Fund Report</a></li>
        <@*li><a href="@Url.Content(" .. /><span class="fa fa-image"></span>
</li>

                          @*<li><a href="../Recharge_History.html"><span class="fa fa-image"></span> Recharge History</a></li>
                        <li><a href="../Company_Detail.html"><span class="fa fa-image"></span> Company Detail</a></li>*@
                    </ul>
                </li>
                <li class="xn-openable Active active">
                    <a ><span class="fa fa-files-o"></span> <span class="xn-text">Support</span></a>
                    <ul>
                      
                        <li><a href="@Url.Content("../Support/Index")"><span class="fa fa-image"></span>Support Detail</a></li>
                    </ul>
                </li>
               
                @*<li class="xn-openable">
                    <a href="#"><span class="fa fa-file-text-o"></span> <span class="xn-text">Payment Request</span></a>
                    <ul>
                        <li><a href="#">Payment Request</a></li>
                        <li><a href="#">Payment Request History</a></li>

                    </ul>
                </li>*@
                <li><a href="@Url.Content("../Commision/CommisionPackage")"><span class="fa fa-image"></span> Commision Packages</a></li>
                @*<li class="xn-title">My Commission</li>
                <li class="xn-title">Complain Box</li>*@
                @*<li class="xn-title">Change Login Password</li>*@
            </ul>
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->

        <div class="page-content" >

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                <!-- END TOGGLE NAVIGATION -->
                <!-- SEARCH -->
                @*<li class="xn-search">
                    <form role="form">
                        <input type="text" name="search" placeholder="Search..." />
                    </form>
                </li>
                <li class="xn-icon-button">
                    <a href="#" style="width:auto !important;">Balance : @PaymezonApp.Utility.balance </a>

                </li>*@
                <li class="xn-icon-button">
                    <a href="#" style="width:auto !important;">@*<span class="fa fa-rupee"></span>*@ Success : @PaymezonApp.Utility.CountSuccecssamount (@PaymezonApp.Utility.SuccessTxn)</a>

                </li>
                <li class="xn-icon-button">
                    <a href="#" style="width:auto !important;">@*<span class="fa fa-rupee"></span>*@ Pending : @PaymezonApp.Utility.CountPendingamount (@PaymezonApp.Utility.CountPending)</a>

                </li>
                <li class="xn-icon-button">
                    <a href="#" style="width:auto !important;">@*<span class="fa fa-rupee"></span>*@ Failure : @PaymezonApp.Utility.CountFailureamount (@PaymezonApp.Utility.CountFailure)</a>

                </li>
                <li class="xn-icon-button">
                    <a href="#" style="width:auto !important;">@*<span class="fa fa-rupee"></span>*@ Today's Transactions: @PaymezonApp.Utility.counttxnamount (@PaymezonApp.Utility.counttxn)</a>

                </li>
              
                <!-- END SEARCH -->
                <!-- SIGN OUT -->
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                </li>
                <li class="xn-icon-button pull-right">
                  
                    <a href="#" class="mb-control plugin-clock"></a>
                </li>
               
                <!-- END SIGN OUT -->

            </ul>
            <!-- END X-NAVIGATION VERTICAL -->
            @RenderBody()
        </div>

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="/Register/Login" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><div id="line-example"></div>
        <!-- END MESSAGE BOX-->

     
        @*<script type="text/javascript" src="@Url.Content("~/js/plugins/morris/raphael-min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/js/plugins/morris/morris.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/js/demo_dashboard.js")"></script>*@

    </div>
   
    <script type="text/javascript">
        //$(document).ready(function () {
        //    setInterval(function () {
               
        //        $.ajax({
        //            url: "/APIRechargerController/Pendingresponse",
        //         type: "POST",
        //       });
        //   },5000);
        //});
        $(function () {

            $(".dt").datepicker();

            if ($(this).find("i").length > 0) {
                var iClass = $(this).find("i").attr("class");
            } else {
                var iClass = $(this).find("span").not("span[class=glyphicon-class]").attr("class");
            }

            var icon_preview = $("<i></i>").addClass(iClass);

            $("#iconPreview .icon-preview").html(icon_preview);

            $("#iconPreview .icon-preview-span").html('&lt;span class="' + iClass + '">&lt;/span>');
            $("#iconPreview .icon-preview-i").html('&lt;i class="' + iClass + '">&lt;/i>');
            $("#iconPreview .icon-preview-class").html(iClass);

            $("#iconPreview").modal("show");

        });
     
        function AddSupport(amt,moblie,operatorcode) {
            var div = $("#OpenDilog");
            $.mpb('show', { value: [0, 30], speed: 10, state: 'success' });
            div.load("/Support/AddNewSupport?amt=" + amt + "&moblie=" + moblie + "&OperatorCode=" + operatorcode, function () {
                $.mpb("update", {
                    value: 100, speed: 5, complete: function () {
                        $(".mpb").fadeOut(200, function () {
                            $(this).remove();
                        });
                    }
                });
                div.modal('show', { backdrop: 'static' });
            });
        }
        function AddRecharge() {
            var div = $("#OpenDilog");
            $.mpb('show', { value: [0, 30], speed: 10, state: 'success' });
            div.load("/Recharge/AddNewRecharge", function () {
                $.mpb("update", {
                    value: 100, speed: 5, complete: function () {
                        $(".mpb").fadeOut(200, function () {
                            $(this).remove();
                        });
                    }
                });
                div.modal('show', { backdrop: 'static' });
            });
        }
    

    </script>

    <style type="text/css">
        div.datepicker {
            z-index: 10000 !important;
        }
    </style>
    @Scripts.Render("~/bundles/modernizr")
   
</body>
</html>
