﻿@model PaymezonApp.Models.RegisterViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Add User</li>
</ul>

<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span>User List</h2>
</div>

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    @*<div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-8 control-label">Select User Type :</label>
                                <div class="col-md-12">
                                    <select class="form-control select" id="ddlUserType">
                                        <option value="Select Type">Select Type</option>
                                        <option selected="selected" value="White Label">White Label</option>
                                        <option value="Master Distributor">Master Distributor</option>
                                        <option value="Distributor">Distributor</option>
                                        <option value="Agent">Agent</option>
                                        <option value="Advance Search">Advance Search</option>
                                    </select>
                                </div>
                            </div>
                        </div>*@
                    <table class="table datatable" cellspacing="0" cellpadding="3" rules="all" border="1" id="ctl00_ContentPlaceHolder1_GridView1" style="background-color: White; border-color: #CCCCCC; border-width: 1px; border-style: None; font-weight: normal; font-style: normal; text-decoration: none; width: 100%; border-collapse: collapse;">

                        <thead>
                            <tr align="left" style="color:Black;background-color:#DBE4E8;font-weight:bold;">
                                <th scope="col">S.NO</th>
                                <th scope="col">Reg. Date</th>
                                <th scope="col">Name</th>
                                <th scope="col">WL ID</th>
                                <th scope="col">Password</th>
                                <th scope="col">E-mail Id</th>
                                <th scope="col">Mobile No.</th>
                                <th scope="col">Total Amount</th>
                                <th scope="col">Balance</th>
                                <th scope="col">Status</th>
                                <th scope="col">#DS</th>
                                <th scope="col">#AG</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstUser)
                            {


                                <tr align="left" valign="middle" style="color:#000066;background-color:White;">
                                    <td>@item.Pk_Register_ID</td>
                                    <td>@item.Reg_Date</td>
                                    <td>@item.Author_Name</td>
                                    <td>@item.Label_Id</td>
                                    <td>@item.Password</td>
                                    <td>@item.Author_Email</td>
                                    <td>@item.Mobile_Number</td>
                                    <td>00</td>
                                    <td>00</td>
                                    <td>Active</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>}
                        </tbody>
                    </table>
                </div>
                <div id='OpenDilog'></div>
                <div class="panel-footer">
                    @*<button class="btn btn-success pull-right" style=" margin-left:50px;">Change Status</button>*@
                    <input type="button" id="show" name="name" class="btn btn-success pull-right" value="Add New User" onclick="createUser();" />
                    @*<button class="btn btn-success pull-right" id="show" style="margin-right: 50px;">Add</button>*@
                </div>
            </div>                          <!-- START DEFAULT DATATABLE -->
            <!-- END DEFAULT DATATABLE -->

        </div>
    </div>

</div>
<script>
    function createUser() {
        var div = $("#OpenDilog");
        $.mpb('show', { value: [0, 30], speed: 10, state: 'success' });
        div.load("/Register/AddUser", function () {
            $.mpb("update", {
                value: 100, speed: 5, complete: function () {
                    $(".mpb").fadeOut(200, function () {
                        $(this).remove();
                    });
                }
            });
            div.modal('show', { backdrop: 'static' });
        });
    }
</script>
<!-- PAGE CONTENT WRAPPER -->