﻿@model PaymezonApp.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" class="body-full-height">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Paymezon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/css/theme-default.css")" />
   

</head>
<body>
    <div class="login-container lightmode">

        <div class="login-box animated fadeInDown">
            <div class="login-title"><center><strong style="font-size: xx-large;color: white;">PAYMEZON</strong></center> </div>
            <div class="login-body">
                <div class="login-title"><strong>Log In</strong> to your account</div>
                <div class="form-horizontal">
                 
                    @using (Html.BeginForm("SubmitLogin", "Register", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.TextBoxFor(a => a.UserName, new { @class = "form-control", placeholder = "E-mail", required = "required" })
                                @Html.ValidationMessageFor(model => model.UserName)
                                @*<input type="text" class="form-control" placeholder="E-mail" />*@
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.TextBoxFor(a => a.Password, new { @class = "form-control", placeholder = "Password", type = "password", required = "required" })
                                @Html.ValidationMessageFor(model => model.Password)
                                @*<input type="password" class="form-control" placeholder="Password" />*@
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <a href="#" class="btn btn-link btn-block">Forgot your password?</a>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-info btn-block">Log In</button>
                               
                            </div>
                        </div>

                    }
                </div>
                <!-- <form action="index.html" class="form-horizontal">

                   <div class="login-or">OR</div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <button class="btn btn-info btn-block btn-twitter"><span class="fa fa-twitter"></span> Twitter</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-info btn-block btn-facebook"><span class="fa fa-facebook"></span> Facebook</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-info btn-block btn-google"><span class="fa fa-google-plus"></span> Google</button>
                        </div>
                    </div>
                    <div class="login-subtitle">
                        Don't have an account yet? <a href="#">Create an account</a>
                    </div>
                </form>-->
            </div>
            <!--<div class="login-footer">
                <div class="pull-left">
                    &copy; 2016 Paymezon
                </div>
                <div class="pull-right">
                    <a href="#">About</a> |
                    <a href="#">Privacy</a> |
                    <a href="#">Contact Us</a>
                </div>
            </div>-->
        </div>

    </div>
    
</body>
</html>
