﻿@model PaymezonApp.Models.CommisionViewModels
@{
    ViewBag.Title = "CommisionPackage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <br />
                <div class="header">
                    <h2>
                        Commision Package Report
                    </h2>
                </div>

                <br>
                <br>

            </div>

            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table datatable" id="UserWallet" cellspacing="0" cellpadding="3" rules="all" border="1" style="background-color: White; border-color: #CCCCCC; border-width: 1px; border-style: None; font-weight: normal; font-style: normal; text-decoration: none; width: 100%; border-collapse: collapse; ">

                        <thead>
                            <tr align="left" style="color:Black;background-color:#DBE4E8;font-weight:bold;">
                                <th scope="col">Sr.No.</th>
                                <th scope="col">Operator Name</th>
                                <th scope="col">Operator Code</th>
                                <th scope="col">Commision in %</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0;}
                            @foreach (var item in Model.List_Commision)
                            {
                                i++;

                                <tr align="left" valign="middle" style="color:#000066;background-color:White;">
                                   
                                    <td>@i</td>
                                    <td>@item.Operator_Name</td>
                                    <td>@item.Operator_Code</td>
                                    <td>@item.Commision_Per</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div id='OpenDilog'></div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>


