﻿@model PaymezonApp.Models.CommisionViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}
<link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/admin/css/style.css")" />

<style>
    #Commision th {
        vertical-align: top;
    }
</style>
<form id="formComm">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Commision Detail

                        </h2>

                    </div>

                    <div class="body">
                        <div class="row clearfix">
                           
                            <div class="col-sm-4">
                                <br />
                                <input type="button" id="BtnComm" name="name" class="btn btn-success pull-left" value="Add Commision" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Commision" onclick="AddCommision();" />
                                <br />
                                <input type="button" id="updatecommision" name="name" class="btn btn-success pull-left" value="Update Commision" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Update Commision" onclick="UpdateCommision();" />
                               
                                <a class="btn btn-danger pull-right" href="@Url.Content("/Admin/Adminuser")" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cancel">Cancel</a>
                                @*<input type="button" id="cancel" name="name" class="btn btn-danger pull-right" value="Cancel" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cancel" onclick="cancel();" />*@

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Commision Detail
                        </h2>
                    </div>

                    <div class="body">
                        @*table-bordered table-striped table-hover js-basic-example dataTable*@
                        <table class="table" id="Commision">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Operator Name</th>
                                    <th>Operator Code</th>
                                    <th>Commision in %</th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div id="OpenDilog">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        var userid = '@Request.QueryString["userid"]';
        Loadcommision(userid);
        //$("#BtnComm").show();
        //$("#updatecommision").hide();
    });
    function cancel()
    {
        debugger;

        if (confirm("Do you really want to Cancel Commision of user?"))
            window.location.href = "/Admin/adminuser";
        else
            return false;
      
    }
    function createCommision() {
        var div = $("#OpenDilog");
        //$.mpb('show', { value: [0, 30], speed: 10, state: 'success' });
        div.load("/Company/CreateCommision", function () {

       div.modal('show', { backdrop: 'static' });
        });
    }
    function GetCMNYJSON()
    {
        $('#Commision').dataTable({
            "bDestroy": true
        }).fnDestroy();

        window.table = $('#Commision').DataTable({
            "processing": true,
            "serverSide": true,
            'searching': false,
            "ajax": "/Commision/GetcommisionList?planid=" + $("#Plan_Id").val(),
            "columns": [
                { "data": "Pk_Comm_Id" },
                { "data": "Operator_Code" },
                { "data": "Operator_Name" },
                { "data": "Commision_Per" }
            ],
            "columnDefs": [{
                "targets": -1,
                "data": "Commision_Per",

                //"defaultContent": "<input class='form-control' data-val='true'  id='txtComm' placeholder='Commision in %' type='number' name='Commision' >"
                "render": function (data, type, full, meta) {
                   
                    return "<input class='form-control' data-val='true'  id='txtComm' placeholder='Commision in %' type='number' name='Commision' value='" + data + "'>"
                }
            }],
            "bDestroy": true



        });



    }

    function AddCommision() {

        debugger;

        var flist = [];
        var resData;
        // var planname = document.getElementById("planname").value
        var planname = '@Request.QueryString["userid"]';
        if (planname != null) {

            $('#Commision tr #txtComm').each(function ()
            {
                var Commision = $(this).val();
                if (Comment != null) {
                    var OperatorCode = $(this).closest('tr').find('td:eq(2)').text();
                    var OperatorName = $(this).closest('tr').find('td:eq(1)').text();
                    resData = { "Operator_Name": OperatorName, "Commision_Per": Commision, "Operator_Code": OperatorCode, "Plan_Name": planname };
                    flist.push(resData);
                }
                else {
                    alert("Please Fill All Comission Value..");
                    return;
                }

            });
            $("#BtnComm").button('loading');
            $.ajax({
                url: "/Commision/AddCommision",
                data: JSON.stringify(flist),
                type: "POST",
                "processing": true,
                async: true,
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {

                    window.location.href = "/Admin/adminuser";

                    //debugger;
                    //$("#BtnComm").button('reset');
                    //$("#formComm").trigger('reset');
                    //$("#BtnComm").button('Add Commision');
                    //window.table.ajax.reload();
                   
                  
                    


                },
                error: function (xhr) {
                    window.location.href = "/Admin/adminuser";

                    //debugger;
                    //$("#BtnComm").button('reset');
                    //$("#formComm").trigger('reset');
                    //alert('Success')
                    //url: "/Admin/adminuser"         
                }
            });
        }
        else {
            alert("Plase Enter All Field Value..");
            return;

        }



    }

    function UpdateCommision() {
       
        var flist = [];
        var resData;

        $('#Commision tr #txtComm').each(function () {
            var Commision = $(this).val();
            var user_id = '@Request.QueryString["userid"]';
            // var planname = document.getElementById("planname").value

            var OperatorCode = $(this).closest('tr').find('td:eq(2)').text();
            var OperatorName = $(this).closest('tr').find('td:eq(1)').text();
            resData = { "Operator_Name": OperatorName, "Commision_Per": Commision, "Operator_Code": OperatorCode, "Fk_User_Id": user_id };
            flist.push(resData);
        });
        $("#updatecommision").button('loading');
        $.ajax({
            url: "/Commision/EditCommision",
            data: JSON.stringify(flist),
            type: "POST",
            "processing": true,
            async: true,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                window.location.href = "/Admin/adminuser";

                //url: "/Admin/adminuser",
                //$("#updatecommision").button('reset');
                //$("#formComm").trigger('reset');               
                //$("#updatecommision").button('Update Commision');


            },
            error: function (xhr)
            {

                window.location.href = "/Admin/adminuser";
                //url: "/Admin/adminuser",
                //alert('Success')               
              
                //$("#updatecommision").button('reset');
                //$("#formComm").trigger('reset');
               
            }
        });

    }

    function Loadcommision(userid) {
     //this code change for first time table load by plan id but now it's load by userid flow should be changed (By Dhananjay)
        var Plan_Id = $("#Plan_Id").val();
        $("#BtnComm").hide();
        $("#updatecommision").show();
        //if (id == 0 || id == "")
        //{
        //    Plan_Id = 0;
        //    $("#BtnComm").show();
        //    $("#updatecommision").hide();
        //}
        //else {
        //    $("#BtnComm").hide();
        //    $("#updatecommision").show();
        //}
        $('#Commision').dataTable({
            "bDestroy": true
        }).fnDestroy();



        window.table = $('#Commision').DataTable({
            "processing": true,
            "serverSide": true,
            'searching': false,
            "ajax": "/Commision/GetcommisionList?userid=" + userid,
            "columns": [
                { "data": "Pk_Company_Id" },
                { "data": "Company_Name" },
                { "data": "Company_Code" },
                { "data": "commper" }
            ],
            "columnDefs": [{
                "targets": -1,
                "data": "Commision_Per",
                "render": function (data, type, full, meta) {
                    return "<input class='form-control' data-val='true'  id='txtComm' placeholder='Commision in %' type='number' name='Commision' value='" + data + "'>"
                }
            }
            ],
            "bDestroy": true
        });

    }

</script>


