﻿@model PaymezonApp.Models.CompanyViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/admin/css/style.css")" />

<style>
    #FUND th {
        vertical-align: top;
    }
</style>

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <input type="button" id="show" name="name" class="btn btn-success pull-right" value="Add New Company" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Company" onclick="createCompany();" />

                    <h2>
                        Company Detail
                    </h2>
                </div>
                <div class="body">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="Company">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Company Name</th>
                                <th>Company Code</th>
                                <th>Company Detail</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>S.No.</th>
                                <th>Company Name</th>
                                <th>Company Code</th>
                                <th>Company Detail</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{int i = 0;}
                            @foreach (var item in Model.List_Company)
                            {
                                i++;
                                <tr>
                                    <td>@item.Pk_Company_Id</td>
                                    <td>@item.Company_Name</td>
                                    <td>@item.Company_Code</td>
                                    <td>@item.Company_Detail1</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <div id="OpenDilog">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        GetCMNYJSON();
    });

    function createCompany() {
        var div = $("#OpenDilog");
        //$.mpb('show', { value: [0, 30], speed: 10, state: 'success' });
        div.load("/Company/CreateCompany", function () {

            //$.mpb("update", {
            //    value: 100, speed: 5, complete: function () {
            //        $(".mpb").fadeOut(200, function () {
            //            $(this).remove();
            //        });
            //    }
            //});
            div.modal('show', { backdrop: 'static' });
        });
    }

    function GetCMNYJSON() {
        $('#Company').dataTable({
            "bDestroy": true
        }).fnDestroy();

        window.table = $('#Company').DataTable({

            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<button id='edt' class='btn btn-default btn-rounded btn-sm' ><i class='material-icons'>edit</i></button>&nbsp;&nbsp;<button id='del' class='btn btn-default btn-rounded btn-sm edit'><i class='material-icons'>delete_sweep</i></button>"
            }],
            "bDestroy": true


        });
        $('#Company tbody').unbind().on('click', 'button', function ()
        {
            debugger;
            var data = window.table.row($(this).parents('tr')).data();
            if ($(this).attr('id') == 'edt') {

                EditAPI(data['0']);
            }
            if ($(this).attr('id') == 'del') {
                DeleteAPI(data['0']);
            }


        });
       
    }
    function EditAPI(Id) {

        var div = $("#OpenDilog");
       
        div.load("/Company/EditCompany?id=" + Id, function () {
       
            div.modal('show', { backdrop: 'static' });
        });
    }
    function DeleteAPI(Id) {
        if (confirm("Are You Sure to Delete ? ")) {

            var div = $("#OpenDilog");

            div.load("/Admin/deletedata?id=" + Id + "&pagename=DeleteCompany",
                function () {

                    div.modal('show', { backdrop: 'static' });
                });


            //$.ajax({

            //    url: "/Company/DeleteCompany?id=" + Id,
            //    type: "post",
            //    contentType: "application/json;charset=utf-8",
            //    success: function (data) {
            //        setTimeout(function () {
            //            GetAPIJSON()

            //        }, 500);

            //        ModalResponce(data, true);

            //    },
            //    error: function (xhr) {
            //        alert(xhr);
            //    }

            //});


        }
    }
</script>
