﻿@{
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/admin/css/style.css")" />

<style>
    #FUND th {
        vertical-align: top;
    }
</style>


<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Daily Account Detail

                    </h2>

                </div>

                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-4 ">
                            <label for="Plan_Name">Select User</label>
                            <div class="form-line">

                                @Html.DropDownListFor(model => model.Plan_Id, new SelectList(Model.lstComm, "Plan_Id", "Plan_Name"), "--Select User Name--", new { @class = "form-control show-tick" })


                            </div>
                        </div>
                      
                        <div class="col-sm-4">
                            <br />
                            <input type="button" id="btnsearch" name="name" class="btn btn-success pull-right" value="Search" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Search" onclick="searchdailyreport();" />
                              </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">

                    <h2>
                        Account Satatement  Report
                    </h2>
                </div>
                <div class="body">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="Transaction">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Date </th>
                                <th>Recharge Id</th>
                                <th>Company Name</th>
                                <th>Number</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Net Amount</th>
                                <th>Commision</th>
                                <th>Balance</th>
                              </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Sr No.</th>
                                <th>Date </th>
                                <th>Recharge Id</th>
                                <th>Company Name</th>
                                <th>Number</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Net Amount</th>
                                <th>Commision</th>
                                <th>Balance</th>

                            </tr>
                        </tfoot>
                        <tbody>
                            @{int i = 0;}
                            @foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Created_Date</td>
                                    <td>@item.Ref_No</td>
                                    <td>@item.Service_Name</td>
                                    <td>@item.MobileNo</td>
                                    <td>@item.Request_Amount</td>
                                    <td>@item.Status</td>
                                    <td>@item.Net_Amount</td>
                                    <td>@item.Total_Commision</td>
                                    <td>@item.Final_Bal_Amount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div id="OpenDilog">
                </div>
            </div>
        </div>
    </div>
</div>


