﻿@model PaymezonApp.Models.RegisterViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminlayout.cshtml";

}

<style>
    #usr th {
        vertical-align: top;
    }

    dl {
        margin: 0;
        padding: 0;
    }

    #detailedData {
        background-color: #f1f1f1;
        border: 1px solid #d4d4d4;
        border-radius: 3px;
        width: 400px;
        box-shadow: 8px 8px 5px #888888;
        position: absolute;
    }

        #detailedData tr td {
            color: #333;
            padding-bottom: 15px;
            padding-left: 15px;
            font-weight: bold;
        }


        #detailedData dr dd {
            margin: 2px 0;
            padding: 0px 0;
        }

    .hideIT {
        display: none;
    }

    .row_dd:hover {
        background-color: #eee !important;
        color: #333;
    }

    .header_dd {
        background-color: #6b696b;
        color: White;
        font-weight: bold;
    }

    td, th {
        padding: 4px;
    }
    .btnspace{
    margin-bottom: 5px;
    }
</style>

<link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/admin/css/style.css")" />
<script src="~/admin/js/pages/ui/tooltips-popovers.js"></script>

<div class="container-fluid">

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        User Detail

                    </h2>

                </div>
@using (Html.BeginForm("Adminuser", "Admin", FormMethod.Post))
{
    <div class="body">
        <div class="row clearfix">
            <div class="col-sm-4 ">
                <label for="Plan_Name">Select User</label>
                <div class="form-line">

                    @Html.DropDownListFor(model => model.userid, new SelectList(Model.lstUsers, "Pk_Register_ID", "Company_Name"), "--Select User Name--", new { @class = "form-control show-tick", @onChange = "Loaddailydetail(this.value)" })


                </div>
            </div>
            @*<div class="col-sm-4 ">
                    <label for="Plan_Name">search by ID</label>
                    <div class="form-line">
                        @Html.DropDownListFor(model => model.userid, new SelectList(Model.lstUsers, "Pk_Register_ID", "Label_Id"), "--Select Label Id--", new { @class = "form-control show-tick", @onChange = "Loaddailydetail(this.value)" })

                    </div>
                </div>*@
            <div class="col-sm-4">
                <br />
                <button id="btnsearch" name="name" class="btn btn-success pull-left" value="Search" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Search">SEARCH</button>
                <input type="button" id="show" name="name" class="btn btn-success pull-right" value="Add New User" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add User" onclick="createUser();" />
            </div>
           
        </div>
     
    </div>
             
}
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                   
                    <h2>
                        USER LIST
                    </h2>
                </div>
                <div class="body">
                    <table class="table table-bordered table-striped table-hover js-exportable dataTable" id="usr">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email ID</th>
                                <th>Password</th>
                                <th>Label ID</th>
                                <th>Balance</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email ID</th>
                                <th>Password</th>
                                <th>Label ID</th>
                                <th>Balance</th>
                                <th>Action</th>

                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model.lstUser)
                            {
                                <tr id="gv_MouseOverData" class="row_dd">
                                    <td>@item.Pk_Register_ID</td>
                                    <td>@item.Author_Name</td>
                                    <td>@item.Author_Email</td>
                                    <td>@item.Password</td>
                                    <td>@item.Label_Id</td>
                                    <td>@item.Panel_Title</td>

                                    @*<td>@item.Is_Active</td>*@
                                    <td></td>
                                </tr>
                            }

                        </tbody>

                    </table>

                </div>
                <div id="OpenDilog">  
                </div>
                <div id="Hover">
                    <div class="form-group">

                    </div>
                </div>
                <div id="targetElement">
                    <div id="detailedData" style="display: none;">
                        <table>
                            <tr>
                                <td>Label ID:</td>
                                <td id="dd_Label_Id"></td>
                            <tr>
                            <tr>
                                <td>Company Name: </td>
                                <td id="dd_compnyname"></td>
                            </tr>
                            <tr>
                                <td>Mobile No: </td>
                                <td id="dd_mobileno"></td>
                            </tr>
                            <tr>
                                <td>HelpDesk Email-Id: </td>
                                <td id="dd_helpemailid"></td>
                            </tr>
                            <tr>
                                <td>Domain Name: </td>
                                <td id="dd_domainname"></td>
                            </tr>
                            <tr>
                                <td>CopyRight:</td>
                                <td id="dd_copyright"></td>
                            </tr>
                            <tr>
                                <td>Panel Title: </td>
                                <td id="dd_paneltitle"></td>
                            </tr>
                            <tr>
                                <td>Firm Name: </td>
                                <td id="dd_firmname"></td>
                            <tr>
                                <td>Owner Name: </td>
                                <td id="dd_ownername"></td>
                            <tr>
                                <td>Auth. Email ID:</td>
                                <td id="dd_prsnemailid"></td>
                            <tr>
                                <td>Pan/Tax No: </td>
                                <td id="dd_pantaxno"></td>
                            <tr>
                                <td>Office Add: </td>
                                <td id="dd_officeaddress"></td>
                            <tr>
                                <td>City: </td>
                                <td id="dd_city"></td>
                            <tr>
                                <td>Pin Code:</td>
                                <td id="dd_pincode"></td>
                            <tr>
                            <tr>
                                <td>Password:</td>
                                <td id="dd_Password"></td>
                            <tr>

                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //$( "#detailedData" ).position({
    //    my: "center",
    //    at: "center",

    //    of: "#targetElement"
    //});
    $(document).mousemove(function (event) {
        $("#detailedData").position({
            my: "left+3 top-3 bottom-3",
            of: event,
            collision: "fit"
        });
    });

    $(document).ready(function () {
        GetuserJSON();
    });

    function GetuserJSON() {
        debugger;
        $('#usr').dataTable({
            "bDestroy": true
        }).fnDestroy();

        window.table = $('#usr').DataTable({
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<button id='blockop' class='btn btn-default btn-rounded btn-sm btnspace' data-toggle='tooltip' data-placement='bottom' title='' data-original-title='Block Operator' ><i class='material-icons'>block</i></button>&nbsp;&nbsp;<button id='comm' class='btn btn-default btn-rounded btn-sm btnspace' data-toggle='tooltip' data-placement='bottom' title='' data-original-title='Edit Commision' ><i class='material-icons'>local_atm</i></button>&nbsp;&nbsp;<button id='edtbtn' class='btn btn-default btn-rounded btn-sm btnspace' data-toggle='tooltip' data-placement='bottom' title='' data-original-title='Edit User' ><i class='material-icons'>edit</i></button>&nbsp;&nbsp;<button id='del' class='btn btn-default btn-rounded btn-sm edit btnspace' data-toggle='tooltip' data-placement='bottom' title='' data-original-title='Delete User'><i class='material-icons'>delete_sweep</i></button>"
            }],
            "bDestroy": true


        });
        $('#usr tbody').unbind().on('click', 'button', function () {
            debugger;
            var data = window.table.row($(this).parents('tr')).data();
            if ($(this).attr('id') == 'edtbtn') {

                Edituser(data['0']);
            }
            if ($(this).attr('id') == 'del') {
                Deleteuser(data['0']);
            }
            if ($(this).attr('id') == 'comm') {
                commofuser(data['0']);
            }
            if ($(this).attr('id') == 'blockop') {
                blockoperator(data['0']);
            } 
        });
    }
    function blockoperator(userid) {

        if (confirm("Do you really want to Block Operator of user?"))
            window.location.href = "/BlockOperator/Blockoperatorbyuser?userid=" + userid;
        else
            return false;
      
    }
    function Edituser(userid) {
        debugger;
        var div = $("#OpenDilog");
        // $.mpb('show', { value: [0, 30], speed: 10, state: 'success' });
        div.load("/Admin/Edituserforadmin?userid=" + userid, function (data) {
            //var d = data;
            //div.html(data);
            //debugger;
            //$.mpb("update", {
            //    value: 100, speed: 5, complete: function ()
            //    {
            //        $(".mpb").fadeOut(200, function ()
            //        {
            //            $(this).remove();
            //        });
            //    }
            //});
          //  div.modal('show', { backdrop: 'static' });
        });
    }

    function commofuser(userid)
    {

        if (confirm("Do you really want to Change Commision of user?"))
            window.location.href = "/Commision/editcommofuser?userid=" + userid;
        else
            return false;
        //var div = $("#OpenDilog");

        //div.load("/Admin/editcommofuser?userid=" + userid, function () {
        //    div.modal('show', { backdrop: 'static' });
        //});
    }

    function Deleteuser(userid) {

        debugger;
       


        if (confirm("Are You Sure to Delete ? "))
        {

            var div = $("#OpenDilog");

            div.load("/Admin/deletedata?id=" + userid + "&pagename=Adminuser",
                function () {

                    div.modal('show', { backdrop: 'static' });
                });

            //$.ajax({

            //    url: "/Admin/Deleteuser?userid=" + userid,
            //    type: "post",
            //    contentType: "application/json;charset=utf-8",
            //    success: function (data) {
            //        setTimeout(function () {
            //            GetuserJSON()

            //        }, 500);

            //        ModalResponce(data, true);

            //    },
            //    error: function (xhr) {
            //        alert(xhr);
            //    }

            //});


        }
    }

    @*$(".row_dd").on("mouseenter", function (e) {


        var self = $(this).find("#gv_MouseOverData");
        debugger;
        var id = self.context._DT_RowIndex;
        var model=   @Html.Raw(Json.Encode(Model.lstUser));
        var set =   model[id];

        var CompnyName = set["Company_Name"];
        var Mobileno =set["Mobile_Number"];
        var RegDate = set["Reg_Date"];
        var helpEmailid = set["Helpdesk_Email"];
        var Domainname = set["Domain_Name"];
        var CopyRight = set["Copyright"];
        var PanelTitle =set["Panel_Title"];

        var FirmName = set["Portal_FName"];
        var OwnerName = set["Portal_MName"];
        var PrsnEmailID =set["Author_Email"];
        var Pantaxno = set["PAN_Num"];
        var OfficrAddress = set["Office_Address"];
        var City = set["City"];
        var PinCode = set["Pincode"];
        var Password = set["Password"];
        var Label_Id = set["Label_Id"];

        $("#dd_compnyname").html(CompnyName)
        $("#dd_mobileno").html(Mobileno);
        $("#dd_RegDate").html(RegDate);
        $("#dd_helpemailid").html(helpEmailid);
        $("#dd_domainname").html(Domainname);
        $("#dd_copyright").html(CopyRight);
        $("#dd_paneltitle").html(PanelTitle)

        $("#dd_firmname").html(FirmName);
        $("#dd_ownername").html(OwnerName);
        $("#dd_prsnemailid").html(PrsnEmailID);
        $("#dd_pantaxno").html(Pantaxno);
        $("#dd_officeaddress").html(OfficrAddress);
        $("#dd_city").html(City);
        $("#dd_pincode").html(PinCode);
        $("#dd_Password").html(Password);
        $("#dd_Label_Id").html(Label_Id);


        var x_value = e.pageX;
        var y_value = e.pageY;
        $("#detailedData").css({
            //my: "center",
            //at: "center",
            //of: "#detailedData",
            //"top": y_value,
            //"left": x_value
        }).show();
    });*@

    $(".row_dd").on("mouseleave", function (e) {
        $("#detailedData").hide();
    });


    //        $('#Hover').hover(
    //    function () { $('div.form-group').show('slow'); },

    //    function () { $('div.form-group').hide('slow'); }
    //);
    function hover(nm, id) {
        //var div = $("#Hover")

        div.load("", function () { });
    }
    function createUser() {

        var div = $("#OpenDilog");
        //$.mpb('show', { value: [0, 30], speed: 10, state: 'success' });
        div.load("/Admin/UserRegistration", function () {

            //  document.getElementById("lstMDIS").Style.display = 'none';
            //document.getElementById("lstDIS").Style.display = 'none';
            var lstMDIS = document.getElementById('lstMDIS');
            var lstDIS = document.getElementById('lstDIS');
            lstMDIS.style.visibility = 'visible';
            lstDIS.style.visibility = 'visible';
            //$.mpb("update", {
            //    value: 100, speed: 5, complete: function () {
            //        $(".mpb").fadeOut(200, function () {
            //            $(this).remove();
            //        });
            //    }
            //});
            div.modal('show', { backdrop: 'static' });
        });
    }
</script>

<!-- PAGE CONTENT WRAPPER -->
