﻿@model PaymezonApp.Models.DeclineResonOfFundViewModels

<link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/admin/css/style.css")" />

<div class="modal fade" id="iconPreview" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("AddDeclineReason", "Admin", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Reason Of Decline</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12">
                           @Html.HiddenFor(model => model.Pk_Fund_Request_Id)
                       
                   
                      @Html.LabelFor(model => model.Decline_Reason)
                            <div class="form-group">
                                <label for="Decline_Reason">Select Decline Reason</label>
                                <div class="form-line">

                                    @{var listmarital = new List<System.Web.UI.WebControls.ListItem>
                                                {
                                                      new System.Web.UI.WebControls.ListItem { Text = "Select Decline Reason", Value="0" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "Amount Not Reflacted", Value="1" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "This Request Already Processed", Value="2" },
                                                };
                                    }
                                    @Html.DropDownListFor(model => model.Decline_Reason, new SelectList(listmarital, "Value", "Text"), new { @class = "form-control show-tick" })
                                     @*@Html.TextAreaFor(model => model.Decline_Reason, new { @class = "form-control", @placeholder = "Decline Reason" })*@
                                </div>
                            </div>

                      </div>

                </div>
                <div class="modal-footer">
                    <div class="col-md-10">
                        <button class="btn btn-info mb-control" id="btnsave">Submit Reason</button>
                    </div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#OpenDilog">Close</button>
                </div>   }
        </div>
    </div>
</div>

<script>


    $(function () {



        if ($(this).find("i").length > 0) {
            var iClass = $(this).find("i").attr("class");
        } else {
            var iClass = $(this).find("span").not("span[class=glyphicon-class]").attr("class");
        }

        var icon_preview = $("<i></i>").addClass(iClass);

        $("#iconPreview .icon-preview").html(icon_preview);

        $("#iconPreview .icon-preview-span").html('&lt;span class="' + iClass + '">&lt;/span>');
        $("#iconPreview .icon-preview-i").html('&lt;i class="' + iClass + '">&lt;/i>');
        $("#iconPreview .icon-preview-class").html(iClass);

        $("#iconPreview").modal("show");

    });
</script>

