﻿@model PaymezonApp.Models.ApiViewModels
@{
    ViewBag.Title = "EditApi";

}

<link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/admin/css/style.css")" />

<div class="modal fade" id="iconPreview" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("EditAPI", "Admin", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit API</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12">
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.dalApi.Api_Id)
                            <div class="form-group">
                                <label for="Api_Name">API Name</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.dalApi.Api_Name, new { @class = "form-control", @placeholder = "API Name" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Login_Id">Login ID</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.dalApi.Login_Id, new { @class = "form-control", @placeholder = "Login ID" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Password">Password</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.dalApi.Password, new { @class = "form-control", @placeholder = "Password" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Response_Url">Response Url</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.dalApi.Response_Url, new { @class = "form-control", @placeholder = "Response Url" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Request_Url">Request Url</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.dalApi.Request_Url, new { @class = "form-control", @placeholder = "Request Url" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Number">Number</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.dalApi.Number, new { @class = "form-control", @placeholder = "Number" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Response_Type">Select Response Type</label>
                                <div class="form-line">
                                    @{var listmarital = new List<System.Web.UI.WebControls.ListItem>
                                                {
                                                    new System.Web.UI.WebControls.ListItem { Text = "Select Response Type", Value="0" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "XML", Value="1" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "Query String", Value="2" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "JSON", Value="3" },

                                                };
                                    }
                                    @Html.DropDownListFor(model => model.dalApi.Response_Type, new SelectList(listmarital, "Value", "Text"), new { @class = "form-control show-tick" })




                                    @*@Html.TextBoxFor(model => model.Response_Type, new { @class = "form-control", @placeholder = "Response Type" })*@
                                </div>
                            </div>
                            <div class="form-group" id="lstXML">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="StatusCode">Status Code</label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.dalApi.StatusCode, new { @class = "form-control", @placeholder = "Status Code" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="SuccessCode">Success Code</label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.dalApi.SuccessCode, new { @class = "form-control", @placeholder = "Success Code" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="FailuerCode">Failure Code</label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.dalApi.FailuerCode, new { @class = "form-control", @placeholder = "Failure Code" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="PendingCode">Pending Code</label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.dalApi.PendingCode, new { @class = "form-control", @placeholder = "Pending Code" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="UniqueTransectionid">Unique Transaction Id</label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.dalApi.UniqueTransectionid, new { @class = "form-control", @placeholder = "Unique Transaction Id" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Transectionnumber">Transaction Number</label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.dalApi.Transectionnumber, new { @class = "form-control", @placeholder = "Transaction Number" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Message">Message</label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(model => model.dalApi.Message, new { @class = "form-control", @placeholder = "Message" })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group" id="lstXML">
                                        <div class="form-line">
                                         @{var listXMLResponse = new List<System.Web.UI.WebControls.ListItem>
                        {
                            new System.Web.UI.WebControls.ListItem { Text = "Select XML Response Type", Value="0" },
                              new System.Web.UI.WebControls.ListItem { Text = "123", Value="1" },
                              new System.Web.UI.WebControls.ListItem { Text = "456", Value="2" },
                              new System.Web.UI.WebControls.ListItem { Text = "789", Value="3" },

                        };
                    }
                    @Html.DropDownListFor(model => model.Type, new SelectList(listXMLResponse, "Value", "Text"), new { @class = "form-control show-tick" })
                </div>
            </div>
            <div class="form-group" id="lstQueryString">
                <div class="form-line">
                    @{var lstQueryStringLResponse = new List<System.Web.UI.WebControls.ListItem>
                        {
                            new System.Web.UI.WebControls.ListItem { Text = "Select Query String Response Type", Value="0" },
                              new System.Web.UI.WebControls.ListItem { Text = "123", Value="1" },
                              new System.Web.UI.WebControls.ListItem { Text = "456", Value="2" },
                              new System.Web.UI.WebControls.ListItem { Text = "789", Value="3" },

                        };
                    }
                    @Html.DropDownListFor(model => model.Type, new SelectList(lstQueryStringLResponse, "Value", "Text"), new { @class = "form-control show-tick" })
                </div>
            </div>
             <div class="form-group" id="lstJSON">
                                    <div class="form-line">
                                        @{var lstJSONResponse = new List<System.Web.UI.WebControls.ListItem>
                                            {
                                                new System.Web.UI.WebControls.ListItem { Text = "Select JSON Response Type", Value="0" },
                                                  new System.Web.UI.WebControls.ListItem { Text = "123", Value="1" },
                                                  new System.Web.UI.WebControls.ListItem { Text = "456", Value="2" },
                                                  new System.Web.UI.WebControls.ListItem { Text = "789", Value="3" },
                                            };
                                        }
                                        @Html.DropDownListFor(model => model.Type, new SelectList(lstJSONResponse, "Value", "Text"), new { @class = "form-control show-tick" })
                                    </div>
                                </div>*@
                            </div>
                            @*<div class="form-group" id="lstXML">
                                <div class="form-line">
                                    @{var listXMLResponse = new List<System.Web.UI.WebControls.ListItem>
                                                {
                                                    new System.Web.UI.WebControls.ListItem { Text = "Select XML Response Type", Value="0" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "123", Value="1" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "456", Value="2" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "789", Value="3" },

                                                };
                                    }
                                    @Html.DropDownListFor(model => model.Type, new SelectList(listXMLResponse, "Value", "Text"), new { @class = "form-control show-tick" })
                                </div>
                            </div>
                            <div class="form-group" id="lstQueryString">
                                <div class="form-line">
                                    @{var lstQueryStringLResponse = new List<System.Web.UI.WebControls.ListItem>
                                                {
                                                    new System.Web.UI.WebControls.ListItem { Text = "Select Query String Response Type", Value="0" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "123", Value="1" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "456", Value="2" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "789", Value="3" },

                                                };
                                    }
                                    @Html.DropDownListFor(model => model.Type, new SelectList(lstQueryStringLResponse, "Value", "Text"), new { @class = "form-control show-tick" })
                                </div>
                            </div>
                            <div class="form-group" id="lstJSON">
                                <div class="form-line">
                                    @{var lstJSONResponse = new List<System.Web.UI.WebControls.ListItem>
                                                {
                                                    new System.Web.UI.WebControls.ListItem { Text = "Select JSON Response Type", Value="0" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "123", Value="1" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "456", Value="2" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "789", Value="3" },

                                                };
                                    }
                                    @Html.DropDownListFor(model => model.Type, new SelectList(lstJSONResponse, "Value", "Text"), new { @class = "form-control show-tick" })
                                </div>
                            </div>*@



                            @*<div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.User_Id, new { @class = "form-control", @placeholder = "User Id" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.User_Name, new { @class = "form-control", @placeholder = "User Name" })
                                    </div>
                                </div>*@


                            @*<div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @placeholder = "Amount" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Operator_code, new { @class = "form-control", @placeholder = "Operator Code" })
                                    </div>
                                </div>*@

                            @*<div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Client_Id, new { @class = "form-control", @placeholder = "Client Id" })
                                    </div>
                                </div>*@

                            @*<div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Account, new { @class = "form-control", @placeholder = "Account" })
                                    </div>
                                </div>*@
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Pin">Circle Code</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.dalApi.Circle_Code, new { @class = "form-control", @placeholder = "Circle Code" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Pin">Pin</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.dalApi.Pin, new { @class = "form-control", @placeholder = "Pin" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="User_Transaction">Transaction Check URL</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.dalApi.User_Transaction, new { @class = "form-control", @placeholder = "Transaction Check URL" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Format">Format</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.dalApi.Format, new { @class = "form-control", @placeholder = "Format" })
                                </div>
                            </div>

                            <div class="form-group"><label for="Token">Token</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.dalApi.Token, new { @class = "form-control", @placeholder = "Token" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Provider">Provider</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.dalApi.Provider, new { @class = "form-control", @placeholder = "Provider" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Agent_Id">Agent Id</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.dalApi.Agent_Id, new { @class = "form-control", @placeholder = "Agent Id" })
                                </div>
                            </div>
                            @*
                                <div class="form-group">
                                 <div class="form-line">
                                        @Html.TextBoxFor(model => model.Transaction_Id, new { @class = "form-control", @placeholder = "Transaction ID" })
                                 </div>
                                 </div>*@
                            @*<div class="form-group">
                                 <div class="form-line">
                                   @Html.TextBoxFor(model => model.Version, new { @class = "form-control", @placeholder = "Version" })
                                     </div>
                                </div>*@
                            @*<div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Company, new { @class = "form-control", @placeholder = "Company" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Order_Id, new { @class = "form-control", @placeholder = "Order Id" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Std_Code, new { @class = "form-control", @placeholder = "Std Code" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Type, new { @class = "form-control", @placeholder = "Type" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Optional_1, new { @class = "form-control", @placeholder = "Optional 1" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Optional_2, new { @class = "form-control", @placeholder = "Optional 2" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Other_Value, new { @class = "form-control", @placeholder = "Other" })
                                    </div>
                                </div>*@


                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-md-10">
                        <button class="btn btn-info mb-control" id="btnsave">Edit</button>
                    </div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#OpenDilog">Close</button>
                </div>   }
        </div>
    </div>
</div>

<script>
    $('#Response_Type').change(function () {
        var selectedValue = parseInt(jQuery(this).val());

        //Depend on Value i.e. 0 or 1 respective function gets called. 
        switch (selectedValue) {
            case 0:
                $("#lstXML").hide();
                $("#lstQueryString").hide();
                $("#lstJSON").hide();
                break;
            case 1:
                $("#lstXML").show();
                $("#lstQueryString").hide();
                $("#lstJSON").hide();
                break;
            case 2:
                $("#lstXML").show();
                $("#lstQueryString").show();
                $("#lstJSON").hide();
                break;
            case 3:
                $("#lstXML").show();
                $("#lstQueryString").hide();
                $("#lstJSON").show();
                break;
            default:
                $("#lstXML").hide();
                $("#lstQueryString").hide();
                $("#lstJSON").hide();
                break;
        }
    });


    $(function () {



        if ($(this).find("i").length > 0) {
            var iClass = $(this).find("i").attr("class");
        } else {
            var iClass = $(this).find("span").not("span[class=glyphicon-class]").attr("class");
        }

        var icon_preview = $("<i></i>").addClass(iClass);

        $("#iconPreview .icon-preview").html(icon_preview);

        $("#iconPreview .icon-preview-span").html('&lt;span class="' + iClass + '">&lt;/span>');
        $("#iconPreview .icon-preview-i").html('&lt;i class="' + iClass + '">&lt;/i>');
        $("#iconPreview .icon-preview-class").html(iClass);

        $("#iconPreview").modal("show");

    });
</script>

