﻿@model PaymezonApp.Models.FundRequestViewModels
@{
    ViewBag.Title = "FundRequestService";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}
   
<link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/admin/css/style.css")" />

<style>
    #FUND th{
        vertical-align: top;
    }
</style>

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Fund Request Detail
                    </h2>
                </div>
@using (Html.BeginForm("FundRequestService", "Admin", FormMethod.Post))
                    {
                <div class="body">
                    <div class="row clearfix">
                     
                        <div class="col-sm-4 ">
                            <label for="Plan_Name">From Date</label>
                            <div class="form-line">
                                @Html.TextBoxFor(model => model.fromdate, new { @class = "datepicker form-control", @placeholder = "Please choose a date..." })
                             
                            </div>
                        </div>
                        <div class="col-sm-4 ">
                            <label for="Plan_Name">To Date</label>
                            <div class="form-line">
                                @Html.TextBoxFor(model => model.todate, new { @class = "datepicker form-control", @placeholder = "Please choose a date..." })

                            </div>
                        </div>
                        <div class="col-sm-4">
                                <br />
                            <button id="btnsearch" name="name" class="btn btn-success pull-left" value="Search" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Search">SEARCH</button>
  </div>
                        <div class="col-sm-12"><p style="color: red;">@Html.DisplayFor(model => model.message)</p></div>

                    </div>
                </div>
}
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    @*<input type="button" id="show" name="name" class="btn btn-success pull-right" value="Accept" onclick="" />
                    
                    <input type="button" id="show" name="name" class="btn btn-success pull-right" value="Decline" onclick="" />*@
                    <h2>
                        FUND REQUEST
                    </h2>
                </div>
                <div class="body">
                    <table class="table table-bordered table-striped table-hover js-exportable dataTable" id="FUND">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Request Date &amp; Time</th>
                                <th>User Type</th>
                                <th>User ID</th>
                                <th>Name</th>
                                <th>Pay Made</th>
                                @*<th>Bank Txn ID</th>*@
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>Txn. Id</th>
                                <th>Status</th>
                                <th>Decline Reason</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>S.No.</th>
                                <th>Request Date &amp; Time</th>
                                <th>User Type</th>
                                <th>User ID</th>
                                <th>Name</th>
                                <th>Pay Made</th>
                                @*<th>Bank Txn ID</th>*@
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>Txn. Id</th>
                                <th>Status</th>
                                <th>Decline Reason</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model.LstFund_Req)
                            {


                                <tr>
                                    <td>@item.Pk_Fund_Request_Id</td>
                                    <td>@item.Request_date_time</td>
                                    <td>@item.User_Type</td>
                                    <td>@item.User_Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Pay_Made</td>
                                    @*<td>@item.Bank_Txn_Id</td>*@
                                    <td>@item.Bank_Name</td>
                                    <td>@item.Amount</td>
                                    <td>@item.Transaction_Id</td>
                                    <td>@item.Status</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <div id="OpenDilog">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        GetFUNDJSON();
    });

    function GetFUNDJSON() {
        $('#FUND').dataTable({
            "bDestroy": true
        }).fnDestroy();

        window.table = $('#FUND').DataTable({

            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<button id='rsn' class='btn btn-default btn-rounded btn-sm' ><i class='material-icons'>not_interested</i></button>&nbsp;&nbsp;<button id='accpt' class='btn btn-default btn-rounded btn-sm edit'><i class='material-icons'>done</i></button>"
            }],
            "bDestroy": true


        });
        $('#FUND tbody').unbind().on('click', 'button', function () {
            debugger;
            var data = window.table.row($(this).parents('tr')).data();
            if ($(this).attr('id') == 'rsn') {

                RSNFUND(data['0']);
            }
            if ($(this).attr('id') == 'accpt') {
                AccptFUND(data['0']);
            }


        });
        function RSNFUND(FndId)
        {
            debugger;
            var div = $("#OpenDilog");
            
            div.load("/Admin/DeclineReasonOf_Fund?fndid="+FndId, function ()
            {

                div.modal('show', { backdrop: 'static' });
            });
        }
        function AccptFUND(FndId) {
            if (confirm("Are You Sure Want to Fund Amount ? ")) 
            {


                var div = $("#OpenDilog");

                div.load("/Admin/deletedata?id=" + FndId + "&pagename=AccpetFund",
                    function () {

                        div.modal('show', { backdrop: 'static' });
                    });

                //$.ajax({
                //    url: "/Admin/AccpetFund?fndid=" + FndId,
                //    type: "post",
                //    contentType: "application/json;charset=utf-8",
                //    success: function (data) {
                //        setTimeout(function () { GetBatchJSON() }, 500);
                //        ModalResponce(data, true);
                //    },
                //    error: function (xhr) {
                //        alert(xhr);
                //    }

                //});


            }
        }
    }
    </script>




