﻿@model PaymezonApp.Models.AdminViewModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign In | Paymezon</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="@Url.Content("~/Admin/plugins/bootstrap/css/bootstrap.css")" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="@Url.Content("~/Admin/plugins/node-waves/waves.css")" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="@Url.Content("~/Admin/plugins/animate-css/animate.css")" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="@Url.Content("~/Admin/css/style.css")" rel="stylesheet">
</head>
<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);"><b>Paymezon</b></a>
           
        </div>
        <div class="card">
            <div class="body">
               <div >
                        @using (Html.BeginForm("AdminLogin", "Admin", FormMethod.Post, new { @id = "sign_in" }))
                        {

                    <div class="msg">Sign in to start your session</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            @Html.TextBoxFor(a => a.UserName, new { @class = "form-control", placeholder = "Username", required = "required" })
                            @Html.ValidationMessageFor(model => model.UserName)
                             @*<input type="text" class="form-control" name="username" placeholder="Username" required autofocus>*@
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            @Html.TextBoxFor(a => a.Password, new { @class = "form-control", placeholder = "Password", type = "password", required = "required" })
                            @Html.ValidationMessageFor(model => model.Password)
                            @*<input type="password" class="form-control" name="password" placeholder="Password" required>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            @*<input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                            <label for="rememberme">Remember Me</label>*@
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-pink waves-effect" type="submit">Log IN</button>
                        </div>
                    </div>
                    @*<div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                            <a href="#">Register Now!</a>
                        </div>
                        <div class="col-xs-6 align-right">
                            <a href="#">Forgot Password?</a>
                        </div>
                    </div>*@
                        }
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery Core Js -->
    <script src="@Url.Content("~/Admin/plugins/jquery/jquery.min.js")"></script>
    <!-- Bootstrap Core Js -->         
    <script src="@Url.Content("~/Admin/plugins/bootstrap/js/bootstrap.js")"></script>
    <!-- Waves Effect Plugin Js -->   
    <script src="@Url.Content("~/Admin/plugins/node-waves/waves.js")"></script>
    <!-- Validation Plugin Js -->     
    <script src="@Url.Content("~/Admin/plugins/jquery-validation/jquery.validate.js")"></script>
    <!-- Custom Js -->                
    <script src="@Url.Content("~/Admin/js/admin.js")"></script>
    <script src="@Url.Content("~/Admin/js/pages/examples/sign-in.js")"></script>
</body>
</html>
