﻿@{
    ViewBag.Title = "PendingTransactions";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}
@Scripts.Render("~/bundles/datatablejs")
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        PENDING TRANSACTIONS
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            @{var listtype = new List<System.Web.UI.WebControls.ListItem>
                                                {
                                                    new System.Web.UI.WebControls.ListItem { Text = "Select", Value="0" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "eGenApi", Value="1" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "All Pending", Value="2" }
                                                };
                            }
                            Select Type :
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.DropDownList("DDLType", new SelectList(listtype, "Value", "Text"))
                                </div>
                            </div>
                        </div>

                         
                    </div>


                    <table class="table table-bordered table-striped table-hover js-exportable dataTable">
                        <thead>
                            <tr>
                                <th>S.NO</th>
                                <th>Request Date Time</th>
                                <th>User ID</th>
                                <th>Service</th>
                                <th>Operator</th>
                                <th>Mob/Conn. No.</th>
                                <th>Txn. Id</th>
                                <th>Vendor TxnId</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Vendor</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>S.NO</th>
                                <th>Request Date Time</th>
                                <th>User ID</th>
                                <th>Service</th>
                                <th>Operator</th>
                                <th>Mob/Conn. No.</th>
                                <th>Txn. Id</th>
                                <th>Vendor TxnId</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Vendor</th>

                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>9/27/2016 5:22:38 PM</td>
                                <td>AG02567</td>
                                <td>Mobile Recharge</td>
                                <td>BSNL TOPUP</td>
                                <td>9409332310</td>
                                <td>762264881074493,</td>
                                <td>0</td>
                                <td>30.0000</td>
                                <td>PENDING</td>
                                <td>SuvidhaLapuApi</td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>9/27/2016 5:22:36 PM</td>
                                <td>AG02331</td>
                                <td>Mobile Recharge-APP</td>
                                <td>VODAFONE</td>
                                <td>9909292218</td>
                                <td>99814567467549,</td>
                                <td>0</td>
                                <td>20.0000</td>
                                <td>PENDING</td>
                                <td>SuvidhaLapuApi</td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td>9/27/2016 5:22:34 PM</td>
                                <td>AG01045</td>
                                <td>Mobile Recharge-APP</td>
                                <td>BSNL TOPUP</td>
                                <td>9428274501</td>
                                <td>06113328247742,</td>
                                <td>0</td>
                                <td>100.0000</td>
                                <td>PENDING</td>
                                <td>SuvidhaLapuApi</td>

                            </tr>
                            <tr>
                                <td>4</td>
                                <td>9/27/2016 5:22:32 PM</td>
                                <td>DS01950</td>
                                <td>Mobile Recharge-APP</td>
                                <td>UNINOR TOPUP</td>
                                <td>7383595978</td>
                                <td>55063898668341,</td>
                                <td>23261211</td>
                                <td>50.0000</td>
                                <td>PENDING</td>
                                <td>nilkanthApi</td>

                            </tr>
                            <tr>
                                <td>5</td>
                                <td>9/27/2016 5:22:07 PM</td>
                                <td>AG02492</td>
                                <td>Mobile Recharge-APP</td>
                                <td>AIRTEL</td>
                                <td>9970286953</td>
                                <td>82821712147145,</td>
                                <td>23261190</td>
                                <td>30.0000</td>
                                <td>PENDING</td>
                                <td>nilkanthApi</td>

                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
