﻿@{
    ViewBag.Title = "RefundTransaction";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}


<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        REFUND TRANSACTION
                    </h2>
                </div>
                <div class="body">
                    <div class="alert alert-danger">
                        Pls fill either transaction id or mobile number.	
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">

                            Transaction Id :
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.TextBox("txtTransId","", new { @class = "form-control" })
                                </div>
                            </div>

                            Mobile Number :
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.TextBox("txtTransId","", new { @class = "form-control" })
                                </div>
                            </div>

                            <input type="button" name="name" value="Submit" class="btn btn-primary" />
                        </div>

                        <div class="col-sm-12">
                            <input type="button" name="name" value="Success" class="btn btn-primary" />
                            <input type="button" name="name" value="Refund" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>