﻿@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<link href="@Url.Content("~/admin/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css")" rel="stylesheet" />
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        REPORTS
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-4">
                            @{var listtype = new List<System.Web.UI.WebControls.ListItem>
                                                {
                                                    new System.Web.UI.WebControls.ListItem { Text = "Select", Value="0" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "Transaction Report", Value="1" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "Fund Report", Value="2" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "User Registration Report", Value="3" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "Account Statement", Value="4" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "SMS Report", Value="5" }
                                                };
                            }
                            Select Report Type :
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.DropDownList("DDLType", new SelectList(listtype, "Value", "Text"))
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            From Date :
                            <div class="form-group">
                                <div class="form-line">
                                    @*<input type="text" class="datepicker form-control" placeholder="Please choose a date..." data-dtp="dtp_yNEMT">*@
                                    @Html.TextBox("txtFrom", "", new { @class = "datepicker form-control" })
                                </div>
                            </div>
                            </div>
                            <div class="col-sm-4">
                                To Date :
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBox("txtTo", "", new { @class = "datepicker form-control" })
                                    </div>
                                </div>
                                <input type="button" name="name" value=" Submit " class="btn btn-primary" />
                            </div>


                    </div>


                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>S No</th>
                                <th>Txn. Date</th>
                                <th>Txn. Time</th>
                                <th>User Id</th>
                                <th>Upper User</th>
                                <th>Service Name</th>
                                <th>Operator Name</th>
                                <th>Connection No.</th>
                                 
                                <th>Net Amount</th>
                                <th>Txn Type</th>
                                <th>Vendor</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>S No</th>
                                <th>Txn. Date</th>
                                <th>Txn. Time</th>
                                <th>User Id</th>
                                <th>Upper User</th>
                                <th>Service Name</th>
                                <th>Operator Name</th>
                                <th>Connection No.</th>
                                 
                                <th>Net Amount</th>
                                <th>Txn Type</th>
                                <th>Vendor</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>2016-09-27</td>
                                <td>18:59:08</td>
                                <td>AG01191</td>
                                <td>Harish Enterprises</td>
                                <td>Mobile Recharge-APP</td>
                                <td>VODAFONE</td>
                                <td>8980937161</td>
                                 
                                <td>30.00</td>
                                <td>Dr</td>
                                <td>SuvidhaLapuApi</td>
                                <td style="color:Orange;font-weight:bold;">PENDING</td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>2016-09-27</td>
                                <td>18:58:58</td>
                                <td>AG02733</td>
                                <td>SIGMA COMMUNICATION</td>
                                <td>Mobile Recharge-APP</td>
                                <td>VODAFONE</td>
                                <td>9909273887</td>
                                 
                                <td>20.00</td>
                                <td>Dr</td>
                                <td>SuvidhaLapuApi</td>
                                <td style="color:DarkGreen;font-weight:bold;">Success</td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>2016-09-27</td>
                                <td>18:58:58</td>
                                <td>AG03184</td>
                                <td>PATEL SALES CORPORATION</td>
                                <td>Mobile Recharge</td>
                                <td>VODAFONE</td>
                                <td>9712525724</td>
                                 
                                <td>50.00</td>
                                <td>Dr</td>
                                <td>SuvidhaLapuApi</td>
                                <td style="color:DarkGreen;font-weight:bold;">Success</td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>2016-09-27</td>
                                <td>18:58:57</td>
                                <td>AG01222</td>
                                <td>SAHARA DISTRIBUTORS</td>
                                <td>DTH Recharge</td>
                                <td>VIDEOCONDTH</td>
                                <td>98085941</td>
                                 
                                <td>100.00</td>
                                <td>Dr</td>
                                <td>leoRechargeAPI</td>
                                <td style="color:Orange;font-weight:bold;">PENDING</td>
                            </tr>
                            <tr>
                                <td>
                                    5
                                </td>
                                <td>2016-09-27</td>
                                <td>18:58:54</td>
                                <td>AG01123</td>
                                <td>VARUN ENTERPRISE</td>
                                <td>Refund -Mobile Recharge</td>
                                <td>RELIANCEGSM</td>
                                <td>8306492911</td>
                                 
                                <td>149.00</td>
                                <td>Cr</td>
                                <td>SuvidhaLapuApi</td>
                                <td style="color:Blue;font-weight:bold;">Refunded</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

