﻿@model PaymezonApp.Models.RegisterViewModels

<link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/admin/css/style.css")" />

<div class="modal fade" id="iconPreview" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("AddUser", "Register", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add User</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12">
                        <div class="col-md-6">
                            <label for="user">User Type</label>
                           
                            <div class="form-group">
                                <div class="form-line">
                                    @{var listmarital = new List<System.Web.UI.WebControls.ListItem>
                                                {
                                                    new System.Web.UI.WebControls.ListItem { Text = "Select User Type", Value="0" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "White Label", Value="1" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "Master Distributor", Value="2" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "Distributor", Value="3" },
                                                      new System.Web.UI.WebControls.ListItem { Text = "Agent", Value="4" },
                                                        new System.Web.UI.WebControls.ListItem { Text = "API User", Value="5" }
                                                };
                                    }
                                    @Html.DropDownListFor(model => model.User_Type, new SelectList(listmarital, "Value", "Text"), new { @class = "form-control show-tick" })

                                </div>
                                </div>
                       
                            <div class="form-group" id="lstMDIS">
                                <label for="email_address">Master Distributor</label>
                                <div class="form-line">
                                  
                                    @Html.DropDownListFor(model => model.MasterDistributor, new SelectList(Model.lstMDis, "Pk_Register_ID", "Label_Id"), "--Select Master Distributor--", new { @class = "form-control show-tick", @id = "lstMDIS", @visible = "hidden" })
                                </div>
                               
                            </div>
                            <div class="form-group" id="lstDIS" >
                                <label for="email_address"> Distributor</label>
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.Distributor, new SelectList(Model.lstDis, "Pk_Register_ID", "Label_Id"), "--Select Distributor--", new { @class = "form-control show-tick", @id = "lstDIS", @visible = "hidden"})
                                </div>
                                </div>
                                <div class="form-group">
                                    <label for="email_address">Company / Firm Name</label>
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Company_Name, new { @class = "form-control", @placeholder = "Company /Firm Name" })


                                    </div>


                                </div>
                                <div class="form-group">
                                    <label for="Mobile_Number">Mobile Number</label>
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Mobile_Number, new { @class = "form-control", @placeholder = "Mobile Number" ,@type="number"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Helpdesk_Email">HelpDesk E-mail ID</label>
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Helpdesk_Email, new { @class = "form-control", @placeholder = "Helpdesk E-mail Id *" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email_address">Domain Name</label>
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Domain_Name, new { @class = "form-control", @placeholder = "Domain name" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Copyright">Copyright</label>
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Copyright, new { @class = "form-control", @placeholder = "Copyright" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Panel_Title">Panel Title</label>
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Panel_Title, new { @class = "form-control", @placeholder = "Panel Title" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Author_Name">Portal Name</label>
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Author_Name, new { @class = "form-control", @placeholder = "Portal Name " })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Portal_FName">Firm Name</label>
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Portal_FName, new { @class = "form-control", @placeholder = "Firm Name" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Portal_MName">Owner Name</label>
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Portal_MName, new { @class = "form-control", @placeholder = "Owner Name" })
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBoxFor(model => model.Portal_LName, new { @class = "form-control", @placeholder = "Authorize Person Last Name" })
                                    </div>
                                </div>*@


                                <!-- <div class="form-group">
            <label class="col-md-4 col-xs-12 control-label">Portal Name </label>
            <div class="col-md-4 col-xs-12">
                <select class="form-control select">
                    <option selected="selected" value="1">select</option>
                    <option selected="selected" value="2">Mr.</option>
                    <option selected="selected" value="3">Ms.</option>
                    <option selected="selected" value="4">Mrs.</option>
                </select>

            </div>
            <div class="col-md-4 col-xs-12">
                <div class="input-group">
                    @*<input type="text" class="form-control" />*@
                    @Html.TextBoxFor(model => model.Portal_FName, new { @class = "form-control" })
                </div>
                <span class="help-block">First Name </span>
            </div>
            <label class="col-md-4 col-xs-12 control-label">&nbsp; </label>
            <div class="col-md-4 col-xs-12">
                <div class="input-group">
                    @*<input type="text" class="form-control" />*@
                    @Html.TextBoxFor(model => model.Portal_MName, new { @class = "form-control" })
                </div>
                <span class="help-block">Middle Name </span>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="input-group">
                    @*<input type="text" class="form-control" />*@
                    @Html.TextBoxFor(model => model.Portal_LName, new { @class = "form-control" })
                ></div>
                <span class="help-block">Last Name </span>
            </div>
        </div> -->
                            </div>
                        <div class="col-md-6">
                            @*<div class="form-group">
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.Author_Name, new { @class = "form-control", @placeholder = "Authorize Person Name " })
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label for="Author_Email">Authorize Person E-mail Id</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.Author_Email, new { @class = "form-control", @placeholder = "Authorize Person E-mail Id" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Author_MobNo">Authorize Person Mobile No</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.Author_MobNo, new { @class = "form-control", @placeholder = "Authorize Person Mobile No", @type = "number" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="PAN_Num">PAN/ S. Tax/ TIN Number</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.PAN_Num, new { @class = "form-control", @placeholder = "PAN/ S. Tax/ TIN Number" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Office_Address">Office Address</label>
                                <div class="form-line">
                                    @Html.TextAreaFor(model => model.Office_Address, new { @class = "form-control", @placeholder = "Office Address" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Office_Address">Select State</label>
                                <div class="form-line">

                                    India
                                    <select class="form-control show-tick">
                                        <option selected="selected" value="101">Select State</option>
                                        <option value="102">Andhra Pradesh</option>
                                        <option value="103">Andaman &amp; Nicobar</option>
                                        <option value="104">Arunachal Pradesh</option>
                                        <option value="105">Assam</option>
                                        <option value="106">Bihar</option>
                                        <option value="107">Chandigarh</option>
                                        <option value="108">Chhattisgarh</option>
                                        <option value="109">Dadar And Nagar Haveli</option>
                                        <option value="110">Daman and Diu</option>
                                        <option value="111">Delhi</option>
                                        <option value="112">Goa</option>
                                        <option value="113">Gujarat</option>
                                        <option value="114">Haryana</option>
                                        <option value="115">Himachal Pradesh</option>
                                        <option value="116">Jammu and Kashmir</option>
                                        <option value="117">Jharkhand</option>
                                        <option value="118">Karnataka</option>
                                        <option value="119">Kerala</option>
                                        <option value="120">Lakshadweep</option>
                                        <option value="121">Madhya Pradesh</option>
                                        <option value="122">Maharashtra</option>
                                        <option value="123">Manipur</option>
                                        <option value="124">Meghalaya</option>
                                        <option value="125">Mizoram</option>
                                        <option value="126">Nagaland</option>
                                        <option value="127">Odisha</option>
                                        <option value="128">Puducherry</option>
                                        <option value="129">Punjab</option>
                                        <option value="130">Rajasthan</option>
                                        <option value="131">Sikkim</option>
                                        <option value="132">Tamil Nadu</option>
                                        <option value="133">Tripura</option>
                                        <option value="134">Uttar Pradesh</option>
                                        <option value="135">Uttarakhand</option>
                                        <option value="136">West Bengal</option>

                                    </select>
                                </div>
                            </div>
                            @*<div class="form-group">
                                <div class="form-line">
                                    <select class="form-control show-tick">
                                        <option selected="selected" value="101">Loding..</option>

                                    </select>
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label for="City">City</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = "City" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Pincode">Pin Code</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.Pincode, new { @class = "form-control", @placeholder = "Pin Code" })
                                </div>
                            </div>

                            @Html.TextBoxFor(model => model.reg_Type, new { @class = "form-control", @placeholder = "Pin Code", @Value = "admin", @Style = "display:none;" })

                            <div class="form-group">
                                <label for="filename">select File</label>
                                <div class="form-line">
                                   
                                    <b>Select file Type</b><input type="file" class="fileinput " name="filename" id="filename" title="Browse file" />
                                </div>
                            </div>
                            @*<div class="form-group">
                                <label for="CommissionId">select Offer of Commision</label>
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.CommissionId, new SelectList(Model.lstComm, "Plan_Id", "Plan_Name"), new { @class = "form-control show-tick" })

                                </div>
                                </div>*@
                            <div class="form-group">
                                <label for="Return_URL">Return URL</label>
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.Return_URL, new { @class = "form-control", @placeholder = "Return URL" })
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-md-10">
                        <button class="btn btn-info mb-control" id="btnsave">Add</button>
                    </div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#OpenDilog">Close</button>
                </div> 
            }
        </div>
    </div>
</div>

<script>
   
    $('#User_Type').change(function () {
        var selectedValue = parseInt(jQuery(this).val());

        //Depend on Value i.e. 0 or 1 respective function gets called. 
        switch (selectedValue)
        {
            case 0:
                $("#lstMDIS").hide();
                $("#lstDIS").hide();
                break;
            case 1:
                $("#lstMDIS").hide();
                $("#lstDIS").hide();
                break;
            case 2:
                $("#lstMDIS").hide();
                $("#lstDIS").hide();
                break;
            case 3:
                $("#lstMDIS").show();
                $("#lstDIS").hide();
                break;
            case 4:
                $("#lstDIS").show();
                $("#lstMDIS").hide();
                break;
                 
            default:
                $("#lstMDIS").hide();
                $("#lstDIS").hide();
                break;
        }
    });

    $(function () {
        //var lstMDIS = document.getElementById('lstMDIS');
        //var lstDIS = document.getElementById('lstDIS');
        //lstMDIS.style.visibility = 'hidden';
        //lstDIS.style.visibility = 'hidden';

        $("#lstMDIS").hide();
        $("#lstDIS").hide();

        if ($(this).find("i").length > 0) {
            var iClass = $(this).find("i").attr("class");
        } else {
            var iClass = $(this).find("span").not("span[class=glyphicon-class]").attr("class");
        }

        var icon_preview = $("<i></i>").addClass(iClass);

        $("#iconPreview .icon-preview").html(icon_preview);

        $("#iconPreview .icon-preview-span").html('&lt;span class="' + iClass + '">&lt;/span>');
        $("#iconPreview .icon-preview-i").html('&lt;i class="' + iClass + '">&lt;/i>');
        $("#iconPreview .icon-preview-class").html(iClass);

        $("#iconPreview").modal("show");

    });
</script>