﻿@model PaymezonApp.Models.SupportViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @*<div class="card">
                <br />
                <div class="header">
                    <h2>
                        Support System
                    </h2>
                </div>

                   

                   <input type="button" id="show" name="name" class="btn btn-success pull-left" value="Add New Support" onclick="AddSupport();" />

                 
               
            </div>*@
            <br />
            <br />
@using (Html.BeginForm("Index", "Support", FormMethod.Post))
      {
            <div class="panel panel-success panel-hidden-controls">
                <div class="panel-heading">
                    <h3 class="panel-title"> Support System</h3>
                </div>
                <div class="panel-body">

                    <div class="col-md-4">
                        <label class="col-md-4 control-label">From Date :</label>
                        <div class="input-group">
                            <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                            @Html.TextBoxFor(model => model.fromdate, new { @class = "form-control dt", @placeholder = "Please choose a date..." })
                        </div>
                        <br/>
                        <p style="color: red;">@Html.DisplayFor(model => model.message)</p>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">To Date :</label>
                        <div class="input-group">
                            <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                            @Html.TextBoxFor(model => model.todate, new { @class = "form-control dt", @placeholder = "Please choose a date..." })
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="button" id="show" name="name" class="btn btn-success pull-left" value="Add New Support" onclick="AddSupport();" />
                    <button class="btn btn-success pull-right">Search</button>
                </div>
            </div>
      }

            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table datatable" id="Support" cellspacing="0" cellpadding="3" rules="all" border="1" style="background-color: White; border-color: #CCCCCC; border-width: 1px; border-style: None; font-weight: normal; font-style: normal; text-decoration: none; width: 100%; border-collapse: collapse; ">
                     
                        <thead>
                            <tr align="left" style="color:Black;background-color:#DBE4E8;font-weight:bold;">
                                <th scope="col">Sr No.</th>
                                <th scope="col">Support ID</th>
                                <th scope="col">Token NO</th>
                                <th scope="col">Query Type</th>
                                <th scope="col">Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0;}
                            @foreach (var item in Model.List_SupportDetail)
                            {
                                i++;

                                <tr align="left" valign="middle" style="color:#000066;background-color:White;">
                                    <td>@i</td>
                                    <td>@item.Pk_Support_Id</td>
                                    <td>@item.Token_no</td>
                                    <td>@item.Query_Type</td>
                                    <td>@item.Created_Date</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div id='OpenDilog'></div>
            </div>
            @*<div class="content-frame-body content-frame-body-left">

                                <div class="messages messages-img">
                                    @foreach (var item in Model.List_SupportDetail)
                                            {
                                <div class="item in">
                                    <div class="image">

                                    </div>
                                    <div class="text">
                                        <div class="heading">
                                            <a href="#">@item.Message</a>
                                            <span class="date">@item.Created_Date</span>
                                        </div>
                                        @item.Content_Detail
                                    </div>
                                </div>
                }
                                </div>

                            </div>*@

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        GetSupportJSON();
    });
    function AddSupport() {
        var div = $("#OpenDilog");
        $.mpb('show', { value: [0, 30], speed: 10, state: 'success' });
        div.load("/Support/AddNewSupport", function () {
            $.mpb("update", {
                value: 100, speed: 5, complete: function () {
                    $(".mpb").fadeOut(200, function () {
                        $(this).remove();
                    });
                }
            });
            div.modal('show', { backdrop: 'static' });
        });
    }
    function GetSupportJSON() {
        debugger;
        $('#Support').dataTable({
            "bDestroy": true
        }).fnDestroy();

        window.table = $('#Support').DataTable({

            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<button id='edt' class='btn btn-default btn-rounded btn-sm' ><i class='material-icons'>edit</i></button>"
            }],
            "bDestroy": true


        });
        $('#Support tbody').unbind().on('click', 'button', function () {
            debugger;
            var data = window.table.row($(this).parents('tr')).data();
            if ($(this).attr('id') == 'edt') {

                ReplySupport(data['1']);
            }
            //if ($(this).attr('id') == 'del') {
            //    DeleteSupport(data['0']);
            //}
        });
    }
    function ReplySupport(TokenId)
    {

        debugger;
        var div = $("#OpenDilog");

        div.load("/Support/ReplySupport?TokenId=" + TokenId, function () {

            div.modal('show', { backdrop: 'static' });
        });
    }
    //function DeleteSupport(Id) {
    //    if (confirm("Are You Sure to Delete ? ")) {
    //        $.ajax({

    //            url: "/Admin/DeleteAPI?Apiid=" + Id,
    //            type: "post",
    //            contentType: "application/json;charset=utf-8",
    //            success: function (data) {
    //                setTimeout(function () {
    //                    GetSupportJSON()

    //                }, 500);

    //                ModalResponce(data, true);

    //            },
    //            error: function (xhr) {
    //                alert(xhr);
    //            }

    //        });


    //    }
    //}

</script>


