﻿@model PaymezonApp.Models.SupportViewModels

<link rel="stylesheet" type="text/css" id="theme" href="@Url.Content("~/css/theme-default.css")" />

<div class="modal fade" id="iconPreview" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("ReplyToAdmin", "Support", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add New Support</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                        <div class="row">
                            <div class="col-md-12">
                                @*<div class="content-frame">
                                    <div class="content-frame-body content-frame-body-left">*@
                                        <div class="messages messages-img">

                                            @foreach (var item in Model.SupportDetail_byTokenID)
                                            {
                                                @Html.HiddenFor(model => item.Pk_Support_Id)
                                                @Html.HiddenFor(model => item.Token_no)
                                                @Html.HiddenFor(model => item.User_type)
                                                @Html.HiddenFor(model => item.Message)

                                                if (item.Answer_By == null)
                                                {

                                                    <div class="item in item-visible">
                                                        <div class="image">
                                                        </div>
                                                        <div class="text">
                                                            <div class="heading">
                                                                <a href="#">Me :@item.Query_Type</a>
                                                                <span class="date">@item.Created_Date</span>
                                                            </div>
                                                            @item.Content_Detail
                                                        </div>
                                                    </div>


                                                }
                                                else
                                                {

                                                    <div class="item in item-visible">
                                                        <div class="image">
                                                        </div>
                                                        <div class="text">
                                                            <div class="heading">
                                                                <a href="#">From Admin :@item.Query_Type</a>
                                                                <span class="date">@item.Answer_Date</span>
                                                            </div>
                                                            @item.Content_Detail
                                                        </div>
                                                    </div>

                                                }

                                            }

                                            <div class="form-group">
                                                @Html.HiddenFor(model => model.Token_no)
                                                @Html.TextAreaFor(model => model.Content_Detail, new { @class = "form-control", @placeholder = "Reply To Admin" })
                                                <span class="help-block">Please Send Your Review</span>
                                            </div>

                                        </div>
                                    @*</div>
                                </div>*@
                                </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-10">
                        <button class="btn btn-info mb-control" id="btnsave">Send Support</button>
                    </div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#OpenDilog">Close</button>
                </div>
            }
        </div>
    </div>
</div>






<script>


    $(function () {



        if ($(this).find("i").length > 0) {
            var iClass = $(this).find("i").attr("class");
        } else {
            var iClass = $(this).find("span").not("span[class=glyphicon-class]").attr("class");
        }

        var icon_preview = $("<i></i>").addClass(iClass);

        $("#iconPreview .icon-preview").html(icon_preview);

        $("#iconPreview .icon-preview-span").html('&lt;span class="' + iClass + '">&lt;/span>');
        $("#iconPreview .icon-preview-i").html('&lt;i class="' + iClass + '">&lt;/i>');
        $("#iconPreview .icon-preview-class").html(iClass);

        $("#iconPreview").modal("show");

    });
</script>

